En este jupyter voy a buscar una lista de ciudades, inicialmente utilizaré una lista de 300 ciudades con mayor pib del mundo de wikipedia, pero tengo que aportarles sus datos, para ello probaré distintos datasets o scrapearé paginas web e iré filtrando lo que me interese

In [1]:
import pandas as pd
from selenium import webdriver
from dotenv import load_dotenv
from googlemaps import convert
import googlemaps
import os
import requests
import json

In [ ]:
ciudades= pd.read_csv ()

In [2]:
driver = webdriver.Chrome()
driver.implicitly_wait(3)

In [5]:
url="https://es.wikipedia.org/wiki/Anexo:Ciudades_por_PIB"
driver.get(url)

In [6]:
tablaciudades= driver.find_element_by_xpath ("/html/body/div[3]/div[3]/div[5]/div[1]/table/tbody")

In [7]:
listacitis=[]
for dato in tablaciudades.find_elements_by_tag_name("tr"):
    fila=[d for d in dato.find_elements_by_tag_name ("td")]
    if len (fila)>1 :
        dia= {
            "id": fila[0].text,
            "ciudad": fila[1].text,
            "pais": fila[2].text,
            "PIB": fila [3].text,
            "PIBpc": fila [4].text,
            "Continente": fila [5].text
             }
        listacitis.append (dia)

In [8]:
ciudades = pd.DataFrame(listacitis)
ciudades

      id         ciudad             pais        PIB   PIBpc Continente
0      1          Tokio            Japón  1 617 000  68 776       Asia
1      2     Nueva York   Estados Unidos  1 403 463  69 915    América
2      3    Los Ángeles   Estados Unidos    860 452  65 082    América
3      4          París          Francia    845 500  57 241     Europa
4      5           Seúl    Corea del Sur    845 000  34 355       Asia
..   ...            ...              ...        ...     ...        ...
295  296        El Paso   Estados Unidos     32 659  38 737    América
296  297      Edimburgo      Reino Unido     32 497  58 437     Europa
297  298       Winnipeg           Canadá     32 478  41 719    América
298  299  Ciudad Juarez           México     32 400  12 434    América
299  300         Nantes          Francia     32 014  36 011     Europa

[300 rows x 6 columns]

In [8]:
ciudades.to_csv ("../Data/ciudades.csv")

### Sobre las variables, una idea inicial sería la siguiente:

#### 1. Ciudad
    - Array con nombres en varios formatos ( español, inglés, original, mayúsculas, minúsculas...)
#### 2. País
    - Array con nombre en varios formatos
#### 3. Estado/comunidad/región
    - Array con nombre en varios formatos
#### 4. Id

#### 5. Código (ES)


#### 6. Económicas:
    * PIB
    * Salario medio
    * Tasa de ocupación
    * Precio vida (relacion con salario medio)
        - Transporte
        - Vivienda
        - Cerveza
        - Big mac
    * Tasa pobreza
    
#### 7. Demo/geográficas:
    * Población ( sacar densidad)
        - Segmentar ( sexo, edad, religion...)
    * Esperanza de vida
    * Tamaño 
    * Clima
        - dias de lluvia
        - dias de sol
        - temperatura media
        
#### 8. Socioculturales:
    * Forma de vida:
        - Principales formas de ocio:
            - Array
        - Número de restaurantes/bares ( y densidad)
        - Número de tratros
        - Conciertos en el último año
        - Deportes más seguidos
            - Array
     * Idiomas
          - Array con cooficiales
          - % de habla inglesa
          - otros
     * educación:
         - Número de colegios
         - Número de universidades 
         - % de poblacion con estudios superiores

Una vez con una lista básica, vamos a buscar las variables.
Empezaré con un dataset de Kaggle, en el que aparecen "todas las ciudades", y vamos a ver si nos sirve

In [9]:
df= pd.read_csv ("../Data/worldcitiespop.csv")

C:\Users\asiok\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3173958 entries, 0 to 3173957
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   Country     object
 1   City        object
 2   AccentCity  object
 3   Region      object
 4   Population  float64
 5   Latitude    float64
 6   Longitude   float64
dtypes: float64(3), object(4)
memory usage: 169.5+ MB

In [11]:
df.head(10)

,Country,City,AccentCity,Region,Population,Latitude,Longitude
0,ad,aixas,Aixàs,6,NaN,42.483333,1.466667
1,ad,aixirivali,Aixirivali,6,NaN,42.466667,1.500000
2,ad,aixirivall,Aixirivall,6,NaN,42.466667,1.500000
3,ad,aixirvall,Aixirvall,6,NaN,42.466667,1.500000
4,ad,aixovall,Aixovall,6,NaN,42.466667,1.483333
5,ad,andorra,Andorra,7,NaN,42.500000,1.516667
6,ad,andorra la vella,Andorra la Vella,7,20430.0,42.500000,1.516667
7,ad,andorra-vieille,Andorra-Vieille,7,NaN,42.500000,1.516667
8,ad,andorre,Andorre,7,NaN,42.500000,1.516667
9,ad,andorre-la-vieille,Andorre-la-Vieille,7,NaN,42.500000,1.516667

Vamos a cambiar a mayúscula la primera letra de la ciudad, en nuestro primer data está así. Probablemente tenga que pasar todo a unicode

In [12]:
df.City=df.City.str.capitalize()

In [13]:
df.isnull().sum()

Country             0
City                6
AccentCity          0
Region              8
Population    3125978
Latitude            0
Longitude           0
dtype: int64

De este dataset podemos guardarnos la población, la región, y sus coordenadas. Primero eliminaré los que no me interesan

In [14]:
df.dropna(inplace=True)

In [15]:
df.Population.min()

7.0

In [16]:
dfordenado= df.sort_values ("Population", ascending=False)

In [17]:
dfordenado[:500]

,Country,City,AccentCity,Region,Population,Latitude,Longitude
1544449,jp,Tokyo,Tokyo,40,31480498.0,35.685000,139.751389
570824,cn,Shanghai,Shanghai,23,14608512.0,31.045556,121.399722
1327914,in,Bombay,Bombay,16,12692717.0,18.975000,72.825833
2200161,pk,Karachi,Karachi,05,11627378.0,24.905600,67.082200
1331162,in,Delhi,Delhi,7,10928270.0,28.666667,77.216667
...,...,...,...,...,...,...,...
2367739,ru,Barnaul,Barnaul,04,599586.0,53.360556,83.763611
2993640,us,Charlotte,Charlotte,NC,598351.0,35.226944,-80.843333
3027061,us,El paso,El Paso,TX,597181.0,31.758611,-106.486389
529698,cn,Luancheng,Luancheng,10,597130.0,37.879167,114.651667
1892331,mx,Mexicali,Mexicali,2,597124.0,32.651944,-115.468333

In [18]:
listavalida=ciudades.ciudad.unique()

In [19]:
len (listavalida) # Revisar duplicados

298

In [20]:
df.City.isin (listavalida).sum() # Esto quiere decir que en nuestro df hay valores de listavalida que se duplican

327

Antes de continuar por este camino, creo que tengo que replantearlo, es inviable encontrar los datos que necesito para 300 ciudades en 4 días ( 40 min para buscar población, y en realidad no la tengo ni unida a nuestro data original). Los tendría que buscar uno a uno y cargarlos en la base de datos uno a uno. Además que la información existente en internet es muy limitada una vez sales de la zona "occidental". Encontrar estos datos me llevaría demasiado tiempo.


Puedo continuar con algo similar, haciendo un recomendador de ciudades españolas para ir de vacaciones, tendría que modificar las variables, eliminando las económicas y aumentando las de forma de ocio, y en lugar de centrarme en visualizaciones, pedirle al usuario unos inputs en los que luego yo pondere de alguna manera para darle una recomendación.

Una vez hecha una lista con 25-30 ciudades españolas, la idea es aumentar el rango por lo menos a Europa. Pero creo que es importante empezar con pocas ciudades para que, en el peor de los casos, pueda transcribir la base de datos a mano.

Quesaría algo así:
(collection=ciudad)
#### 1. Ciudad
    - Array con nombres en varios formatos ( español, inglés, unicode y original en su caso) (transcribir)
#### 2. País
    - Array con nombre en varios formatos (transcribir)
#### 3. Ubicación
    - Coordenadas google place

#### 6. Presupuesto de viaje:
    - Precio medio noche hotel (transcribir)
    - Precio alquiler en temporada alta (transcribir)
    - Precio restaurante (transcribir) (tripadvisor)
    - Precio cerveza medio (transcribir)
    - Precio transporte origen-destino (api de google place)

    
#### 7. Carácteristicas ( las iré definiendo según busque información):
    * Costa ( transcribir)
    - Museos, hitos culturales ( api de fourthsquare o gplace)
    - turismo joven, solteros, familias...
    - formas de ocio ( las que me encuentre por interner y luego localizadas mediante api) 
    ej:
        - surf (buscar api)
            - numero de playas habilitadas 
            - numero de escuelas/alquiler materials
        - senderismo
            - numero de rutas
            - ...
        - gastronomia:
            - numero de restaurantes
            - variedad de cocinas
            
            
            
inputs ( rango edad, sexo, preferencias y cómo de importante son de 1 a 5, presupuesto, tiempo de viaje)
algoritmo de puntuación
output

Objetivo jueves:
- tener al menos 1 ciudad con todos los datos)

Objetivo viernes:
- tener todas las ciudades, empezar con la api "basica", definir los post y gets básicos que no comparen)

Objetivo sabado:
- terminar api y empezar con el algoritmo.

Objetivo domingo:
- terminar algoritmo y meterlo en la api


#### Extras: ampliar database, recomendar varias ciudades y comparar, buscar hotel, meter fotos de las ciudades...

In [3]:
url="https://www.enterat.com/ocio/ciudades-mas-visitadas-espana.php"
driver.get(url)

In [4]:
tablaciudades= driver.find_element_by_xpath ("/html/body/div[2]/div[2]/div[1]/div[6]/table[2]/tbody")

In [5]:
listacitis=[] #funcion, recibe un xpath y una lista(id, ciudad...)
for dato in tablaciudades.find_elements_by_tag_name("tr"):
    fila=[d for d in dato.find_elements_by_tag_name ("td")]
    if len (fila)>1 :
        dia= {
            "id": fila[0].text,
            "ciudad": fila[1].text,
            "Viajeros": fila[2].text
             }
        listacitis.append (dia)

Empezamos con las 25 primeras, y si nos da tiempo a aumentar, siempre tenemos esta lista cómo guía

In [6]:
ciudades= pd.DataFrame (listacitis[:26])

In [7]:
ciudades.drop([0],axis=0, inplace=True)

Todo lo que vaya añadiendo a mi dataframe y quiera guardar luego en mongo lo iré guardando como arrays

In [9]:
ciudades.ciudad.to_csv ("../Data/nombreciudades.csv")

Ahora vamos a utilizar google place para obtener toda la información que nos pueda ser útil

In [9]:
ciudades

    id                     ciudad   Viajeros
1    1                     MADRID  9.963.195
2    2                  BARCELONA  8.520.415
3    3                    SEVILLA  2.811.351
4    4          PALMA DE MALLORCA  2.372.933
5    5                   BENIDORM  2.150.417
6    6                    GRANADA  2.001.464
7    7                   VALENCIA  1.882.918
8    8  SAN BARTOLOMÉ DE TIRAJANA  1.577.975
9    9                     CALVIÀ  1.540.863
10  10                      ADEJE  1.476.042
11  11                     MÁLAGA  1.413.227
12  12                      SALOU  1.273.471
13  13              LLORET DE MAR  1.212.564
14  14                   ZARAGOZA  1.176.981
15  15               TORREMOLINOS  1.028.077
16  16                    CÓRDOBA    970.985
17  17                     BILBAO    962.974
18  18                     PÁJARA    893.219
19  19                   ALICANTE    879.435
20  20                      ARONA    813.814
21  21     SANTIAGO DE COMPOSTELA    790.238
22  22                   MARBELLA    761.460
23  23                  SALAMANCA    711.736
24  24                   DONOSTIA    689.595
25  25          PUERTO DE LA CRUZ    654.901

In [10]:
load_dotenv()

tokg = os.getenv("tokg")

In [11]:
gmaps = googlemaps.Client(key= tokg )

In [74]:
gmaps.places_nearby (
        location= "madrid",
        type = ["Hotel"],
        radius= 1000
         )

ApiError: INVALID_REQUEST

Tan facil no iba a ser, vamos primero a ver como conseguimos las coordenadas, que es lo que pide la api para "location", las voy a guardar por separado y unidas, en previsión de cómo me las pidan las apis.

In [13]:
coords=gmaps.geocode( address="MADRID")

In [14]:
coords

[{'address_components': [{'long_name': 'Madrid',
    'short_name': 'Madrid',
    'types': ['locality', 'political']},
   {'long_name': 'Madrid',
    'short_name': 'M',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'Community of Madrid',
    'short_name': 'MD',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Spain',
    'short_name': 'ES',
    'types': ['country', 'political']}],
  'formatted_address': 'Madrid, Spain',
  'geometry': {'bounds': {'northeast': {'lat': 40.5638447, 'lng': -3.5249115},
    'southwest': {'lat': 40.3120639, 'lng': -3.8341618}},
   'location': {'lat': 40.4167754, 'lng': -3.7037902},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 40.5638447, 'lng': -3.5249115},
    'southwest': {'lat': 40.3120639, 'lng': -3.8341618}}},
  'place_id': 'ChIJgTwKgJcpQg0RaSKMYcHeNsQ',
  'types': ['locality', 'political']}]

In [15]:
coords[0].keys()

dict_keys(['address_components', 'formatted_address', 'geometry', 'place_id', 'types'])

In [141]:
a=coords[0]["geometry"]["location"]

In [190]:
c= str (a.values())

In [287]:
gmaps.geocode( address="barcelona", region="ES")

[{'address_components': [{'long_name': 'Barcelona',
    'short_name': 'Barcelona',
    'types': ['locality', 'political']},
   {'long_name': 'Barcelona',
    'short_name': 'B',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'Catalonia',
    'short_name': 'CT',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Spain',
    'short_name': 'ES',
    'types': ['country', 'political']}],
  'formatted_address': 'Barcelona, Spain',
  'geometry': {'bounds': {'northeast': {'lat': 41.4695761, 'lng': 2.2280099},
    'southwest': {'lat': 41.320004, 'lng': 2.0695258}},
   'location': {'lat': 41.3850639, 'lng': 2.1734035},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 41.4695761, 'lng': 2.2280099},
    'southwest': {'lat': 41.320004, 'lng': 2.0695258}}},
  'place_id': 'ChIJ5TCOcRaYpBIRCmZHTz37sEQ',
  'types': ['locality', 'political']}]

In [23]:
def coordenadas (df,columna):
    """
    Función que recibe como parámetro un DataFrame y una columna donde se encuentren nombres de ciudades, y dá como salida el
    DataFrame con tres columnas nuevas. Dos con con la latitud y longitud separadas, y otra más con un diccionario con ambas
    
    La geocidificación se hace mediante la api de googleplace y la libreria gmaps, por lo que es necesario disponer de token
    y ya haberlo incluido en "gmaps"
    
    No recomendable con dataframes demasiado extensos por el número de request
    """
    latitudes=[]
    longitudes=[]
    coordenadas=[]
    coordenadas2=[]
    for i in df[columna]:
        
        coords = gmaps.geocode( address=i, region="ES")
        longitudes.append (coords[0]["geometry"]["location"]["lng"])
        latitudes.append (coords[0]["geometry"]["location"]["lat"])
        coordenadas.append (coords[0]["geometry"]["location"])
        coordenadas2.append (coords[0]["geometry"]["location"].values())
    df["Lon"]= longitudes
    df["Lat"]= latitudes
    df["coords"] = coordenadas
    df["coords2"] = coordenadas2
    return ciudades

In [24]:
coordenadas(ciudades,"ciudad")

,id,ciudad,Viajeros,Lon,Lat,coords,coords2
1,1,MADRID,9.963.195,-3.703790,40.416775,"{'lat': 40.4167754, 'lng': -3.7037902}","(40.4167754, -3.7037902)"
2,2,BARCELONA,8.520.415,2.173404,41.385064,"{'lat': 41.3850639, 'lng': 2.1734035}","(41.3850639, 2.1734035)"
3,3,SEVILLA,2.811.351,-5.984459,37.389092,"{'lat': 37.3890924, 'lng': -5.9844589}","(37.3890924, -5.9844589)"
4,4,PALMA DE MALLORCA,2.372.933,2.650160,39.569600,"{'lat': 39.5696005, 'lng': 2.6501603}","(39.5696005, 2.6501603)"
5,5,BENIDORM,2.150.417,-0.122494,38.541057,"{'lat': 38.5410566, 'lng': -0.1224937}","(38.5410566, -0.1224937)"
6,6,GRANADA,2.001.464,-3.598557,37.177336,"{'lat': 37.1773363, 'lng': -3.5985571}","(37.1773363, -3.5985571)"
7,7,VALENCIA,1.882.918,-0.376288,39.469907,"{'lat': 39.4699075, 'lng': -0.3762881}","(39.4699075, -0.3762881)"
8,8,SAN BARTOLOMÉ DE TIRAJANA,1.577.975,-15.573030,27.924946,"{'lat': 27.9249459, 'lng': -15.5730295}","(27.9249459, -15.5730295)"
9,9,CALVIÀ,1.540.863,2.503368,39.565348,"{'lat': 39.5653483, 'lng': 2.5033683}","(39.5653483, 2.5033683)"
10,10,ADEJE,1.476.042,-16.733821,28.122060,"{'lat': 28.1220604, 'lng': -16.7338211}","(28.1220604, -16.7338211)"
11,11,MÁLAGA,1.413.227,-4.421265,36.721261,"{'lat': 36.721261, 'lng': -4.4212655}","(36.721261, -4.4212655)"
12,12,SALOU,1.273.471,1.131593,41.077747,"{'lat': 41.0777465, 'lng': 1.1315926}","(41.0777465, 1.1315926)"
13,13,LLORET DE MAR,1.212.564,2.839819,41.700599,"{'lat': 41.7005989, 'lng': 2.8398194}","(41.7005989, 2.8398194)"
14,14,ZARAGOZA,1.176.981,-0.889085,41.648823,"{'lat': 41.6488226, 'lng': -0.8890853}","(41.6488226, -0.8890853)"
15,15,TORREMOLINOS,1.028.077,-4.499477,36.622554,"{'lat': 36.6225541, 'lng': -4.4994767}","(36.6225541, -4.4994767)"
16,16,CÓRDOBA,970.985,-4.779383,37.888175,"{'lat': 37.8881751, 'lng': -4.7793835}","(37.8881751, -4.7793835)"
17,17,BILBAO,962.974,-2.934985,43.263013,"{'lat': 43.2630126, 'lng': -2.9349852}","(43.2630126, -2.9349852)"
18,18,PÁJARA,893.219,-14.108119,28.350890,"{'lat': 28.3508903, 'lng': -14.1081189}","(28.3508903, -14.1081189)"
19,19,ALICANTE,879.435,-0.490685,38.345996,"{'lat': 38.3459963, 'lng': -0.4906855}","(38.3459963, -0.4906855)"
20,20,ARONA,813.814,-16.664501,28.048600,"{'lat': 28.0486003, 'lng': -16.6645007}","(28.0486003, -16.6645007)"
21,21,SANTIAGO DE COMPOSTELA,790.238,-8.544844,42.878213,"{'lat': 42.8782132, 'lng': -8.5448445}","(42.8782132, -8.5448445)"
22,22,MARBELLA,761.460,-4.882447,36.510071,"{'lat': 36.510071, 'lng': -4.8824474}","(36.510071, -4.8824474)"
23,23,SALAMANCA,711.736,-5.663540,40.970104,"{'lat': 40.9701039, 'lng': -5.663539699999999}","(40.9701039, -5.663539699999999)"
24,24,DONOSTIA,689.595,-1.981231,43.318334,"{'lat': 43.318334, 'lng': -1.9812313}","(43.318334, -1.9812313)"
25,25,PUERTO DE LA CRUZ,654.901,-16.544961,28.411413,"{'lat': 28.411413, 'lng': -16.5449611}","(28.411413, -16.5449611)"

In [425]:
ciudades.Lon.to_csv ("../Data/Longitudciudades.csv")

In [426]:
ciudades.Lat.to_csv ("../Data/Latitudciudades.csv")

In [427]:
ciudades.coords.to_csv ("../Data/coordenadasciudades.csv")

In [430]:
ciudades.head()

,id,ciudad,Viajeros,Lon,Lat,coords,coords2,nhoteles,listahoteles,npubs,lpubs
1,1,MADRID,9.963.195,-3.703790,40.416775,"{'lat': 40.4167754, 'lng': -3.7037902}","40.4167754, -3.703790",50,"{'name': 'Senator Gran Via 70 Spa Hotel 4*', '...",4,"{'name': 'Destellos Pub Disco', 'latitud': 40...."
2,2,BARCELONA,8.520.415,2.173404,41.385064,"{'lat': 41.3850639, 'lng': 2.1734035}","41.3850639, 2.1734035",50,"{'name': 'Hotel Medinaceli', 'latitud': 41.378...",0,{}
3,3,SEVILLA,2.811.351,-5.984459,37.389092,"{'lat': 37.3890924, 'lng': -5.9844589}","37.3890924, -5.984458",50,"{'name': 'Hotel Palacio Villapanes', 'latitud'...",0,{}
4,4,PALMA DE MALLORCA,2.372.933,2.650160,39.569600,"{'lat': 39.5696005, 'lng': 2.6501603}","39.5696005, 2.6501603",50,"{'name': 'Café Gran Hotel', 'latitud': 39.5725...",0,{}
5,5,BENIDORM,2.150.417,-0.122494,38.541057,"{'lat': 38.5410566, 'lng': -0.1224937}","38.5410566, -0.122493",50,"{'name': 'Hotel Agir Kamer 211', 'latitud': 38...",3,"{'name': 'La Posada Disco Pub', 'latitud': 38...."

In [431]:
ciudades.coords2.to_csv ("../Data/coordenadas2ciudades.csv")

In [432]:
ciudades.nhoteles.to_csv ("../Data/nhoteles.csv")

In [433]:
ciudades.listahoteles.to_csv ("../Data/lhoteles.csv")

In [434]:
ciudades.npubs.to_csv ("../Data/npubs.csv")

In [435]:
ciudades.lpubs.to_csv ("../Data/lpubs.csv")

Ahora lo que vamos a hacer es ver una exploración de la api de gmaps para los hoteles, ver qué información podemos sacar, como guardarla y terminaremos este apartado preparando algún bucle para agregarla a nuestro dataframe.

In [56]:
madrid= ciudades.coords[1]

In [33]:
madrid

{'lat': 40.4167754, 'lng': -3.7037902}

In [57]:
a=gmaps.places_nearby (
        location= madrid,
        type = ["Hotel"],
        radius= 2000
         )

In [62]:
a["results"] # geometry': {'location': {'lat': 40.4175032, 'lng': -3.7033915},
             #  name': 'Madrid',

[{'geometry': {'location': {'lat': 40.4167754, 'lng': -3.7037902},
   'viewport': {'northeast': {'lat': 40.56384473341083,
     'lng': -3.524911528167741},
    'southwest': {'lat': 40.31206394740597, 'lng': -3.834161809872056}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/geocode-71.png',
  'name': 'Madrid',
  'photos': [{'height': 4000,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115573911546909190179">Manuel Colomo San Valeriano</a>'],
    'photo_reference': 'ATtYBwLuNWgbAaWoKvvhUxmj3Nc2b-7wt3e_iqQXBEY5d6AIKk8J6HlssrGKvzo_hcIMB-MFG2qCEXtnMidpvp9bre5G1b4U2oQenwZp6DQ44oCjroREKPfzmIA8Gg8IsRR1ZnO-u14AJ2NghxXHPQbBn2f2S1Ox0CgmHrW7Gt3CXV2uUsCK',
    'width': 3000}],
  'place_id': 'ChIJgTwKgJcpQg0RaSKMYcHeNsQ',
  'reference': 'ChIJgTwKgJcpQg0RaSKMYcHeNsQ',
  'scope': 'GOOGLE',
  'types': ['locality', 'political'],
  'vicinity': 'Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.4175032, 'lng': -3.7033915},
   'viewport': {'northeast': {'lat': 40.4187872302915,
     'lng': -3.701938369708497},
    'southwest': {'lat': 40.4160892697085, 'lng': -3.704636330291502}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'Hotel Europa',
  'opening_hours': {'open_now': True},
  'photos': [{'height': 3622,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102954749350346905187">Hotel Europa Madrid</a>'],
    'photo_reference': 'ATtYBwK6n8JIo5Z7MSiVmeqd9r2oJpUohzAEc2SpxmGXBq3TTyLfoqi2a70e_nkOK3cVR93qYinAIsg5-HowE037RD6EzbRc_p5xO0UTM-5J6KVsVEWi2NqcD3Op8v6y7Ef9a65o2jTzIKB0hPHF2fDVuQ6LQ4SimUNjmQAFRRs4B0qAU58i',
    'width': 5467}],
  'place_id': 'ChIJA6qiBX4oQg0RMNeuHkeyP0Y',
  'plus_code': {'compound_code': 'C79W+2J Madrid, Spain',
   'global_code': '8CGRC79W+2J'},
  'rating': 4.3,
  'reference': 'ChIJA6qiBX4oQg0RMNeuHkeyP0Y',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 877,
  'vicinity': 'Calle del Carmen, 4, Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.4163607, 'lng': -3.7017367},
   'viewport': {'northeast': {'lat': 40.41770853029151,
     'lng': -3.700349269708498},
    'southwest': {'lat': 40.41501056970851, 'lng': -3.703047230291503}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'Hotel Victoria 4',
  'photos': [{'height': 2988,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105081480914995795699">avi b</a>'],
    'photo_reference': 'ATtYBwIt7YprmOrXc1TeWpLMlqMaj6QCC-dD9qRlXAvYOcMfTfM9hTJ4t7WZG8vkDt7RwGpXP7awrTF4woS9YqOuIlGQCFY7IsZWeAC0rGPy0LAKM4o0GWwa7tMkarFD96VF19yCSMeAIX2K9TOhffAz5XRX3qUL0xCJy2wFBMZhy1BGheRn',
    'width': 5312}],
  'place_id': 'ChIJZZfGkoAoQg0RHKhODVpsn4o',
  'plus_code': {'compound_code': 'C78X+G8 Madrid, Spain',
   'global_code': '8CGRC78X+G8'},
  'rating': 4,
  'reference': 'ChIJZZfGkoAoQg0RHKhODVpsn4o',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 621,
  'vicinity': 'Calle de la Victoria, 4, Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.41571, 'lng': -3.7060284},
   'viewport': {'northeast': {'lat': 40.41705898029151,
     'lng': -3.704679419708497},
    'southwest': {'lat': 40.41436101970851, 'lng': -3.707377380291502}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'Petit Palace Posada del Peine',
  'opening_hours': {'open_now': True},
  'photos': [{'height': 534,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110194059580645935732">Petit Palace Posada del Peine</a>'],
    'photo_reference': 'ATtYBwIIBa79VvYxjfN9m736ZQ0Hj8WRZvzPkyXAB5J2YBPZ6Ga9HrUVs3TbGfQtmWTFNviTZ_XoG_pY45EX5eedbnN0q4pPaQbCfzF38Q0mFGh2agcSVSuYPvJkxpS0QWq4qfHbEnbG6U65Fxw9fNEF8nvEzKtwxuNvyKZPHZXfjqQF0gy6',
    'width': 800}],
  'place_id': 'ChIJEVwG434oQg0Re5ogd4tCyNY',
  'plus_code': {'compound_code': 'C78V+7H Madrid, Spain',
   'global_code': '8CGRC78V+7H'},
  'rating': 4.3,
  'reference': 'ChIJEVwG434oQg0Re5ogd4tCyNY',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 796,
  'vicinity': 'Calle de Postas, 17, Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.4145638, 'lng': -3.7014472},
   'viewport': {'northeast': {'lat': 40.4158677802915,
     'lng': -3.700039219708498},
    'southwest': {'lat': 40.4131698197085, 'lng': -3.702737180291503}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'ME Madrid Reina Victoria',
  'opening_hours': {'open_now': True},
  'photos': [{'height': 2362,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112160887640088276162">ME Madrid Reina Victoria</a>'],
    'photo_reference': 'ATtYBwL5ioD3Ie9SvM6wZX6xLeciwiyvS3KCIApLft9EhTWICftdKNJ1F3sYNPL8o1SsFa-plAMpRHe_tWKAZfRPU6_ePgPVnr6CsKx7FZQ5PPds6migR-XDkbTsEOoG91qEv6D2y26jWTFWl4dn5saCqFgKOGnbfiidrCPR3Tuude7oZ5eV',
    'width': 3543}],
  'place_id': 'ChIJDWmWQ4AoQg0R9Irotf9ECnQ',
  'plus_code': {'compound_code': 'C77X+RC Madrid, Spain',
   'global_code': '8CGRC77X+RC'},
  'rating': 4.3,
  'reference': 'ChIJDWmWQ4AoQg0R9Irotf9ECnQ',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 1357,
  'vicinity': 'Plaza de Santa Ana, 14, Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.41706919999999,
    'lng': -3.699919899999999},
   'viewport': {'northeast': {'lat': 40.4183785802915,
     'lng': -3.698680019708497},
    'southwest': {'lat': 40.4156806197085, 'lng': -3.701377980291502}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'Hotel Quatro Puerta Del Sol',
  'photos': [{'height': 1440,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113560213179941737539">M Vargas</a>'],
    'photo_reference': 'ATtYBwLcegmAo1DIy7tHk2yw8Fo__Qo6Rf3ZJARKVgf-ry9wGbUBkIFKk8jpwljV7kRwSdwFCRFltz1CFiWGnk_KgxBirWO7vt2B6RELFgkw9V-w7NCUOTUWDql1HTQZ6EkWv_-BJphcnKVdmhNlfftaoYj4D_PzYAFIZKWezF2afKmrbahC',
    'width': 826}],
  'place_id': 'ChIJGT6LI4EoQg0R-FqiUc0f3wM',
  'plus_code': {'compound_code': 'C882+R2 Madrid, Spain',
   'global_code': '8CGRC882+R2'},
  'rating': 3.9,
  'reference': 'ChIJGT6LI4EoQg0R-FqiUc0f3wM',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 697,
  'vicinity': 'Calle de Sevilla, 4, Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.4179295, 'lng': -3.6998284},
   'viewport': {'northeast': {'lat': 40.41920313029149,
     'lng': -3.698459519708498},
    'southwest': {'lat': 40.41650516970849, 'lng': -3.701157480291502}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'Hotel Regina Madrid',
  'photos': [{'height': 1080,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101749400695445210960">Hotel Regina Madrid</a>'],
    'photo_reference': 'ATtYBwLYYuzgcl6zXENJ4Tn0NAM3XwY_yvBVqbdHfFpoEicdH6_BYkBwclpdbg4JP44lLwoVDmR9yzSSQZkwOQShEjFUAz_HMhb670QsburOJDFzTPRpHoznfsQABcX0Kd1MeQeJ6eneJcsSVWjaG7C2NwUIFOw5h2Q4gTa1moC-guqBrky0',
    'width': 1920}],
  'place_id': 'ChIJ_-t1LoEoQg0RNVeflHaTDZo',
  'plus_code': {'compound_code': 'C892+53 Madrid, Spain',
   'global_code': '8CGRC892+53'},
  'rating': 4.4,
  'reference': 'ChIJ_-t1LoEoQg0RNVeflHaTDZo',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 1626,
  'vicinity': 'Calle de Alcalá, 19, Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.420522, 'lng': -3.704044999999999},
   'viewport': {'northeast': {'lat': 40.4219172302915,
     'lng': -3.702607969708498},
    'southwest': {'lat': 40.4192192697085, 'lng': -3.705305930291502}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'INNSiDE Madrid Gran Vía',
  'opening_hours': {'open_now': True},
  'photos': [{'height': 397,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109239340144506162064">INNSiDE Madrid Gran Vía</a>'],
    'photo_reference': 'ATtYBwJ-moqZJBqon8D_vpQfP3YyC9Wlnic5M02io0BsyuCCjaHF1-Qpapb8J5RWAbqaLJUciCSRHGrUWpzQCj3YNDgOnbGIqKp-0mAWZFL1x0sye9S6W4HJ05LPfaSaC8lY3hn6LC9hpO41uNhGQlBw9rJrraOcSDn2umubE2cNRqFyTuM',
    'width': 707}],
  'place_id': 'ChIJUUmYn30oQg0RHh1g5qeyy1o',
  'plus_code': {'compound_code': 'C7CW+69 Madrid, Spain',
   'global_code': '8CGRC7CW+69'},
  'rating': 4.1,
  'reference': 'ChIJUUmYn30oQg0RHh1g5qeyy1o',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 1049,
  'vicinity': 'Calle de Mesonero Romanos, 13, Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.42056549999999, 'lng': -3.7029078},
   'viewport': {'northeast': {'lat': 40.42167793029149,
     'lng': -3.701427919708497},
    'southwest': {'lat': 40.4189799697085, 'lng': -3.704125880291502}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'Petit Palace Triball',
  'opening_hours': {'open_now': True},
  'photos': [{'height': 3840,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101892896738182349200">Petit Palace Triball</a>'],
    'photo_reference': 'ATtYBwLxH2OGPm2j-wYCLuq3_n7nvpl2r5DaYEg2dOzSGU6K7T_-qjldQG2DCktASNLiEgNme56CDb1OpDo1cBuS83G3xjnUh-ka-MlALSgGEIZKhfQoM7axT4DBxMyxcyCYT9IK75bCTqOLNIrGmWppnaNjCypNiW0iX8qWCDtiWVAW8Vms',
    'width': 5760}],
  'place_id': 'ChIJfaTYf30oQg0RRe-BL7LDMgg',
  'plus_code': {'compound_code': 'C7CW+6R Madrid, Spain',
   'global_code': '8CGRC7CW+6R'},
  'rating': 4.5,
  'reference': 'ChIJfaTYf30oQg0RRe-BL7LDMgg',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 1047,
  'vicinity': 'Calle Gonzalo Jiménez de Quesada, 2, Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.4163561, 'lng': -3.698701799999998},
   'viewport': {'northeast': {'lat': 40.4176963302915,
     'lng': -3.697406469708498},
    'southwest': {'lat': 40.4149983697085, 'lng': -3.700104430291502}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'Hotel Urban',
  'opening_hours': {'open_now': True},
  'photos': [{'height': 363,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100896060332831262126">Hotel Urban</a>'],
    'photo_reference': 'ATtYBwKGvgVMnQaLGpCntqpPUD2oyso_qAUsyjlTy5HnCfS-Oo5gWJcj_ZYW_bo6euKfu4k4E00Q4Quc9bRTVwNkUMrf_fidcdSSJEIM0Ro7HwnCdLn9j55q904W8KB8vwsmugxaeovdwhYOVRIgzzzcJznO-chnVw6cPVpY5kjO5G-_iN_9',
    'width': 600}],
  'place_id': 'ChIJgRC4boEoQg0Rl6-gmXVOYkY',
  'plus_code': {'compound_code': 'C882+GG Madrid, Spain',
   'global_code': '8CGRC882+GG'},
  'rating': 4.4,
  'reference': 'ChIJgRC4boEoQg0Rl6-gmXVOYkY',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 1220,
  'vicinity': 'Carrera de San Jerónimo, 34, Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.420444, 'lng': -3.706584},
   'viewport': {'northeast': {'lat': 40.4217432302915,
     'lng': -3.705192369708497},
    'southwest': {'lat': 40.4190452697085, 'lng': -3.707890330291501}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'Vincci Capitol Hotel',
  'opening_hours': {'open_now': True},
  'photos': [{'height': 357,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117432237074402608406">Vincci Capitol Hotel</a>'],
    'photo_reference': 'ATtYBwLwVSg_N4V7ehKsFmgpz01OGk8HF0TmG8w31S471cGKU1do4hAgw51fUpJQ1AuWYTYrP4-7yHJIMB8GEuEbJQdsxHaz2NSlGpg0I-n-e_c9YDXOKMUYQa4UbaIdA0B3GKmRR_EXkcanIaV8djXqmvshnjg0Yoxd5g-KwRwkIsQvC0Si',
    'width': 795}],
  'place_id': 'ChIJy4P69HwoQg0R7aD4eSPBx7k',
  'plus_code': {'compound_code': 'C7CV+59 Madrid, Spain',
   'global_code': '8CGRC7CV+59'},
  'rating': 4.3,
  'reference': 'ChIJy4P69HwoQg0R7aD4eSPBx7k',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 1491,
  'vicinity': 'Calle Gran Vía, 41, Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.4195646, 'lng': -3.699581499999999},
   'viewport': {'northeast': {'lat': 40.4209936802915,
     'lng': -3.698245369708497},
    'southwest': {'lat': 40.4182957197085, 'lng': -3.700943330291502}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'Iberostar Las Letras Gran Vía',
  'opening_hours': {'open_now': True},
  'photos': [{'height': 1560,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112467056791679448943">Iberostar Las Letras Gran Vía</a>'],
    'photo_reference': 'ATtYBwJ0Yu0i1cE8ub6rSzatt29n5ce3OWm95xhQ5NmOvMd49kgNmZhv_2AXOh75tZ3P2Zz3KgB9Qb1NaKBHXqvdzYG2PAFxvLwVm84Yp2PNZz-18yHiOg_MqIH2WAA_C41ogZ92aVmrReDgcqlOEyTsOSt2ZLR3Yj4zUu_wKV2w8Tnt1-RO',
    'width': 2400}],
  'place_id': 'ChIJRY8v6YYoQg0RAnHqn4kltw0',
  'plus_code': {'compound_code': 'C892+R5 Madrid, Spain',
   'global_code': '8CGRC892+R5'},
  'rating': 4.3,
  'reference': 'ChIJRY8v6YYoQg0RAnHqn4kltw0',
  'scope': 'GOOGLE',
  'types': ['spa',
   'lodging',
   'restaurant',
   'food',
   'point_of_interest',
   'establishment'],
  'user_ratings_total': 1438,
  'vicinity': 'Calle Gran Vía, 11, Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.4201069, 'lng': -3.6970542},
   'viewport': {'northeast': {'lat': 40.4214231802915,
     'lng': -3.695732569708497},
    'southwest': {'lat': 40.4187252197085, 'lng': -3.698430530291501}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'Hotel Infantas by MIJ',
  'opening_hours': {'open_now': True},
  'photos': [{'height': 1365,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106865128955815835710">Hotel Infantas by MIJ</a>'],
    'photo_reference': 'ATtYBwKxLzBwBrpxQuS3dUHrFGVUglupE8H2yyMkrj1IIamk5hGfogedWJ_g3binfM8FQk5YL-RjGV1yEqMk_WGePVtff9WGDw2UqmHWu7FwKZxh-QHR6C7JdK6wPjN3aPbPlGFEIAQydASXdMG7yB36HaZaaHOXWO_7j_mgStFzfPHXjJvI',
    'width': 2048}],
  'place_id': 'ChIJ3_VsMIQoQg0RRIAmIZ2p-88',
  'plus_code': {'compound_code': 'C8C3+25 Madrid, Spain',
   'global_code': '8CGRC8C3+25'},
  'rating': 4.2,
  'reference': 'ChIJ3_VsMIQoQg0RRIAmIZ2p-88',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 501,
  'vicinity': 'Calle de las Infantas, 29, Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.42123069999999,
    'lng': -3.709973800000001},
   'viewport': {'northeast': {'lat': 40.42259613029149,
     'lng': -3.708554219708498},
    'southwest': {'lat': 40.41989816970849, 'lng': -3.711252180291503}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'Eurostars Madrid Gran Vía',
  'opening_hours': {'open_now': True},
  'photos': [{'height': 4000,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109430093629164881648">Eurostars Madrid Gran Vía</a>'],
    'photo_reference': 'ATtYBwIPnkl6wtkfXAyFB2hJROEOLsVBcqiHZPr6rUgOI24cKVgrZE0PtiBpYjJ8Ka2_Gr9aDgSwALVmi04TAC2CZwtflLgrOEPpRh4qGJWEvRYcb0vNksBCSWRHYA02BfEbwWzFd42IpPoUBNObD0dH-K9JBFM0avKZUHL30dRKQLeOZqfc',
    'width': 6000}],
  'place_id': 'ChIJxceCEHsoQg0R9DxB0n-hWco',
  'plus_code': {'compound_code': 'C7CR+F2 Madrid, Spain',
   'global_code': '8CGRC7CR+F2'},
  'rating': 4,
  'reference': 'ChIJxceCEHsoQg0R9DxB0n-hWco',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 742,
  'vicinity': 'Calle de Leganitos, 13, Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.4171537, 'lng': -3.7025296},
   'viewport': {'northeast': {'lat': 40.4185524302915,
     'lng': -3.701407819708498},
    'southwest': {'lat': 40.4158544697085, 'lng': -3.704105780291502}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'Hostal Puerta del Sol',
  'photos': [{'height': 704,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117267894654359703064">Juan Jose Mira</a>'],
    'photo_reference': 'ATtYBwIfoSlwRC_EShgUBdFtOLlIYoB0mskULLyjlYT-ZqCkccqTM-ga34c5T2RzmsSNDz8JIzItkA9G9Jh0FQAlq3hr8JPB_st97EgtmKVmPVbRLkBntF8HuPP6TPqmfetBdgiD3ETYWQ560zICjwvW3F066guh4AZn3PR9Ig1mgmPgwPoI',
    'width': 1328}],
  'place_id': 'ChIJSdM5pIAoQg0RDgUDAuCd6tk',
  'plus_code': {'compound_code': 'C78W+VX Madrid, Spain',
   'global_code': '8CGRC78W+VX'},
  'rating': 4,
  'reference': 'ChIJSdM5pIAoQg0RDgUDAuCd6tk',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 273,
  'vicinity': 'Puerta del Sol, 14, Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.41852529999999, 'lng': -3.6980617},
   'viewport': {'northeast': {'lat': 40.41979698029149,
     'lng': -3.696670019708498},
    'southwest': {'lat': 40.41709901970849, 'lng': -3.699367980291502}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png',
  'name': 'La Chulapa de Alcalá',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 3024,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114330673190392556864">Juan Manuel</a>'],
    'photo_reference': 'ATtYBwKNSx7-zrcj5WO10NHOhKWOJm_tZs1BCZC4ykkUuyeKgUW3WK5xSETniicix2CeYWgcrry_9rC6MX5D_xk3bQxsc3MvFeOtrjo3nYSSBhQom9yyE4eStyGAvO3Md6Z5IZzNNXNXPmQ_sK5w2FwYFPqBzwLfR-hqDRrbsgL8gzIOnbAx',
    'width': 4032}],
  'place_id': 'ChIJ56ScqYYoQg0RD0W0Y7SLgro',
  'plus_code': {'compound_code': 'C892+CQ Madrid, Spain',
   'global_code': '8CGRC892+CQ'},
  'price_level': 2,
  'rating': 4,
  'reference': 'ChIJ56ScqYYoQg0RD0W0Y7SLgro',
  'scope': 'GOOGLE',
  'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
  'user_ratings_total': 1902,
  'vicinity': 'Calle de Alcalá, 35, Madrid'},
 {'business_status': 'CLOSED_TEMPORARILY',
  'geometry': {'location': {'lat': 40.4206587, 'lng': -3.7085482},
   'viewport': {'northeast': {'lat': 40.4220179302915,
     'lng': -3.707070769708498},
    'southwest': {'lat': 40.4193199697085, 'lng': -3.709768730291503}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'Hotel Santo Domingo',
  'permanently_closed': True,
  'photos': [{'height': 3693,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112326540643061837437">Hotel Santo Domingo Madrid</a>'],
    'photo_reference': 'ATtYBwKdVxujd4r5XcJoRgfIjgIo9Ty7lC3JzhQPIUhUyDxne9w0IDRqABvCnbBAKJu1B0uRh3aOtwb6GFwlbKzcb2CS-jsLlV-hpr4ieQp2TMh1E5c9hd_yKM7Vryao19MmP8dYtSsdgiNmB8KvXGFbDrMwfzXuMl7xhrJuoZZ0Dp71xUc0',
    'width': 5533}],
  'place_id': 'ChIJvRXhe3soQg0R6SU6s7IBEGg',
  'plus_code': {'compound_code': 'C7CR+7H Madrid, Spain',
   'global_code': '8CGRC7CR+7H'},
  'rating': 4,
  'reference': 'ChIJvRXhe3soQg0R6SU6s7IBEGg',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 2678,
  'vicinity': 'Calle de San Bernardo, 1, Madrid'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 40.42040529999999, 'lng': -3.7045863},
   'viewport': {'northeast': {'lat': 40.4216655802915,
     'lng': -3.703247769708498},
    'southwest': {'lat': 40.4189676197085, 'lng': -3.705945730291502}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
  'name': 'Hotel Atlántico',

In [96]:
a3=gmaps.places_nearby (page_token= a5 )

In [97]:
len (a3["results"])

20

Con esto añadiremos la columna nº de hoteles en 2km radio centro

In [109]:
def numero_hoteles(df, columna):
    numerohoteles=[]
    for i in df[columna]:
        page1 = gmaps.places_nearby (
        location= i,
        type = ["Hotel"],
        radius= 2000
         )
       
        numerohoteles.append (n)
    print (numerohoteles)

In [110]:
numero_hoteles (ciudades, "coords")

ATtYBwJnt_bg2CWqhD4LwdjkKLDVZacdecrtfu9SGfyZ8RX6RhgX7Ixi2u21PuIO-6jtRTbgrAotcFPNryS_yBXA6sl4ZcKAguw7yDsZLEweXlXhgd5GzPpUVmbDoS0CYmycPJQncoO_fjHn_VnSolIaxaspWP17si6oleK9h4gU36ex_n1OJjpgUkrSq4Ub92dcrHCqH8TUSyQIX4B9uH_nunyMs9JcaJmU-LkKf1dDLOs3rJnf9PPHaogpKU3I8-HPwynTxankJ72amxWlWn01Nh5WDwhstnyfilCRmMLk-K-R2DuSDd_4BDXN-bloWqDLVjmlFMJqTPNKimg7KWTN5WbliUDrLERnRl3Hi4n58v0lwJTYQDVB6Spp-f9XbGylGISDapAAQGmNj5eGsz7uD_LTtR-Ln1yMgGoJaD049bSShe5x7dGgcQ

ApiError: INVALID_REQUEST

In [115]:
token1="ATtYBwJnt_bg2CWqhD4LwdjkKLDVZacdecrtfu9SGfyZ8RX6RhgX7Ixi2u21PuIO-6jtRTbgrAotcFPNryS_yBXA6sl4ZcKAguw7yDsZLEweXlXhgd5GzPpUVmbDoS0CYmycPJQncoO_fjHn_VnSolIaxaspWP17si6oleK9h4gU36ex_n1OJjpgUkrSq4Ub92dcrHCqH8TUSyQIX4B9uH_nunyMs9JcaJmU-LkKf1dDLOs3rJnf9PPHaogpKU3I8-HPwynTxankJ72amxWlWn01Nh5WDwhstnyfilCRmMLk-K-R2DuSDd_4BDXN-bloWqDLVjmlFMJqTPNKimg7KWTN5WbliUDrLERnRl3Hi4n58v0lwJTYQDVB6Spp-f9XbGylGISDapAAQGmNj5eGsz7uD_LTtR-Ln1yMgGoJaD049bSShe5x7dGgcQ"

In [116]:
gmaps.places_nearby ( page_token = token1 )

{'html_attributions': [],
 'next_page_token': 'ATtYBwJjQrnyZnPquotHzzp9AAknotfmx3LeVT-Hl1dSBYTOfCjiblV4PkTIJqg_Uf-fCCE4-Bx4YAwRd6UdsLgWote_qVo9hqHN8iJmimLrxjxw26T7t74sjehzKeOzXInemRewhn3O81siOo5f-eoHVfM3BkfEVH2ez9enjYvHBp3Fms3CmEtprl6ckqXiTha3okvkhvsjDllmP1L1xNHjMDpumvdW44NV_06Zz6N788mecepgar886lK2-Ddw7TvGZmq1DTm2Cx-n_0oZYecADe3KpFiGtlkKhZ1JTeh9Yedu86xCiIvsxSA_fUnR-O8nVsiDP0p82pK2-gf16mvCdiihM838-JOdFOIzVcaOQ48rQuRwboz9k4gc2PNfRlgJ_1rhCluCu8A0wtSdm-JLSzM9QhzMq_219Hs2s6Xwi-Zrig8bJhobyNvqSJyRAdYWZi4aLNEUp46Yu0MeJcHaWKLMxnaHMMKBt1OfrLYXWIsKdPuzpFco7rfDKruKW8Y0OJ9ap96TCNF_aMmqUy-e0zKDn0aSY7z22Vtsosnq0pfbAZUQurVKzpw4fyCznstv0xx4oezmGFkSsJtKlOo9Fovk-H4tMWbD0nY2zWPM0xxAlNQ5Etu6TLNiYZtrsh8XD3MEcfKeVXo',
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.4131012, 'lng': -3.7086039},
    'viewport': {'northeast': {'lat': 40.4144345802915,
      'lng': -3.707213969708498},
     'southwest': {'lat': 40.4117366197085, 'lng': -3.709911930291502}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Posada Del Dragón',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115446678618332498449">Bernd Brydges</a>'],
     'photo_reference': 'ATtYBwJT5l0AaFCVj5AUrRhkIlpZc31KToKXygKgn1yfuPwrMLxxp1LKCiEcKoefC6VYcveZHZo4cBy2mEWqaRbmjWSBxIHfACrKnLJ-HYK2-XkOAqQUzgp6s_hNc20T3kA1jIEDmvGyV2ZJs83VNKggZke35TDwjjS97zQvmUK4NBvng9x9',
     'width': 4032}],
   'place_id': 'ChIJ-_tlr3goQg0RJLq1R8E3Iuc',
   'plus_code': {'compound_code': 'C77R+6H Madrid, Spain',
    'global_code': '8CGRC77R+6H'},
   'rating': 4.3,
   'reference': 'ChIJ-_tlr3goQg0RJLq1R8E3Iuc',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'point_of_interest',
    'clothing_store',
    'store',
    'establishment'],
   'user_ratings_total': 686,
   'vicinity': 'Calle de la Cava Baja, 14, Madrid'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.4117419, 'lng': -3.6974685},
    'viewport': {'northeast': {'lat': 40.41309088029149,
      'lng': -3.696119519708498},
     'southwest': {'lat': 40.41039291970849, 'lng': -3.698817480291502}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'TRYP Madrid Atocha Hotel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1971,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108439009541205997377">TRYP Madrid Atocha Hotel</a>'],
     'photo_reference': 'ATtYBwJRAc7LWUOcHZIqQYBL6UDpCbuET9Vjk9nYs64tqwgIEdYgFwPZ4KIo3nUs_8BsS2JzeEUFhboO0ObjZCMmOJSbVcqbaDxduzhj3YjO-5SwC8MQqOyfJq9RTilLoYJoGomNDB9gv7uN9Yy819xowPMKpuLGZw_p28CmgoTUdvyuJ_mi',
     'width': 2953}],
   'place_id': 'ChIJn8FziykmQg0RW8duwoywhaY',
   'plus_code': {'compound_code': 'C863+M2 Madrid, Spain',
    'global_code': '8CGRC863+M2'},
   'rating': 4,
   'reference': 'ChIJn8FziykmQg0RW8duwoywhaY',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1576,
   'vicinity': 'Calle de Atocha, 83, Madrid'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.4148772, 'lng': -3.698999},
    'viewport': {'northeast': {'lat': 40.4161804302915,
      'lng': -3.697575319708498},
     'southwest': {'lat': 40.41348246970851, 'lng': -3.700273280291502}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'ibis Styles Madrid Prado',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1388,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116232233788807800796">ibis Styles Madrid Prado</a>'],
     'photo_reference': 'ATtYBwKw4ieRG-TwXKq67XOvQq-NqGXejyq3ZTgTNvyYgVHG7pcUYAEGY3vcU6lV7XSZImWvlAD-HFrBJIn9Mgc6o7psctzHKfXhZpLRqCH9SOEqDsu-tfUdHCY_FgcKcnhxFUg3rrZofFIHtNcxOwW9OLYORPftSCa0qayn9u68g5y6ZfiM',
     'width': 2048}],
   'place_id': 'ChIJq947l4EoQg0RjPm7f9ksMvU',
   'plus_code': {'compound_code': 'C872+XC Madrid, Spain',
    'global_code': '8CGRC872+XC'},
   'rating': 4.4,
   'reference': 'ChIJq947l4EoQg0RjPm7f9ksMvU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 651,
   'vicinity': 'Calle del Prado, 11, Madrid'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.420354, 'lng': -3.7011024},
    'viewport': {'northeast': {'lat': 40.4216880302915,
      'lng': -3.699710169708498},
     'southwest': {'lat': 40.4189900697085, 'lng': -3.702408130291502}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Petit Palace Chueca',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 800,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113187988605802498890">Petit Palace Chueca</a>'],
     'photo_reference': 'ATtYBwL1OXJ2XxJ4f2BtgrKz99WV3xaZG-6KtKkD2afvz0tvdmv4Ee14wVNCgqpiI4sKi8Ety9dgaanpLplCUDCM8gzhPlS_6LStUVPjs7ykQ3UqoxnlF5bQC_OFoxPaRb9teDhVWygU-zvOQd4l-vBwGx-33iVPySHHO-VeVDd7PieBaob3',
     'width': 1200}],
   'place_id': 'ChIJZ8eJ5H4oQg0R0heaT0LUcx4',
   'plus_code': {'compound_code': 'C7CX+4H Madrid, Spain',
    'global_code': '8CGRC7CX+4H'},
   'rating': 4.3,
   'reference': 'ChIJZ8eJ5H4oQg0R0heaT0LUcx4',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 813,
   'vicinity': 'Calle de Hortaleza, 3, Madrid'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.4192734, 'lng': -3.7043171},
    'viewport': {'northeast': {'lat': 40.42062743029151,
      'lng': -3.702961169708498},
     'southwest': {'lat': 40.41792946970851, 'lng': -3.705659130291502}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hotel Madrid II Castillas',
   'photos': [{'height': 600,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108895034891894805184">Hotel II Castillas</a>'],
     'photo_reference': 'ATtYBwI6cY6L-UMP-olKH7HWcBAF4HGP20z1_EMphG5NpB-rMHeNlrOXU7M1JMQ1o7KqSZkoTEmEmFmW7Ec3tWsi2cHgEAQi3SlaqH2FP9quXqTpOO2cbCk-NBx4DZfq-njes9_SkBAwNu-701onAvIpGM9-Xu9VFZrAKt7bURyUMOVm4JBh',
     'width': 450}],
   'place_id': 'ChIJa10XwH0oQg0ROlb_5TOBQ28',
   'plus_code': {'compound_code': 'C79W+P7 Madrid, Spain',
    'global_code': '8CGRC79W+P7'},
   'rating': 4.3,
   'reference': 'ChIJa10XwH0oQg0ROlb_5TOBQ28',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 634,
   'vicinity': 'Calle de la Abada, 7, Madrid'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.4194705, 'lng': -3.6990859},
    'viewport': {'northeast': {'lat': 40.42086613029151,
      'lng': -3.697703119708498},
     'southwest': {'lat': 40.41816816970851, 'lng': -3.700401080291502}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hotel Catalonia Gran Vía',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1365,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103717273675442197042">Hotel Catalonia Gran Vía</a>'],
     'photo_reference': 'ATtYBwIBqN0I5xra5KXtCtAPOT4gJGfs7775SxZlNLP35X1tfZ55ZTPwsP04fLfWUN20FjNhfa-_SZa3YTryGQHAnq27a20Fh1hpcf43J-LfcBNthFQFY2uQSVpVyTGXwA_c_q9htUrx7d_KfAt55WbAdAW0OYLuLmy8bItnIJRrnvYjOUDC',
     'width': 2048}],
   'place_id': 'ChIJLauNlYYoQg0R6Ui5h0RZ3Kg',
   'plus_code': {'compound_code': 'C892+Q9 Madrid, Spain',
    'global_code': '8CGRC892+Q9'},
   'rating': 4.3,
   'reference': 'ChIJLauNlYYoQg0R6Ui5h0RZ3Kg',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1462,
   'vicinity': 'Calle Gran Vía, 9, Madrid'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.4205827, 'lng': -3.6990263},
    'viewport': {'northeast': {'lat': 40.4219641302915,
      'lng': -3.697756619708497},
     'southwest': {'lat': 40.4192661697085, 'lng': -3.700454580291502}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Room Mate Oscar Hotel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 9000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101259683418293001805">Desiderio Ferrandiz</a>'],
     'photo_reference': 'ATtYBwK3VNaPlFi6DnfTxcJYLGrO3K_ZNeMaUJIpVeh1hubYwVQJqmFPcGb1iI-imac-fDO2a4eoLtAmr3jybwTzj2WHc9f69boWvSNfF8ArZoymaPAaLClPjYqNAzpVZPSpZcYKZFh1Sl1zIWlAq_ST8JxCLAqSEuFbMIN9ZnmatLgxChsf',
     'width': 12000}],
   'place_id': 'ChIJ3fNF9YYoQg0RfXCB9HwjgNE',
   'plus_code': {'compound_code': 'C8C2+69 Madrid, Spain',
    'global_code': '8CGRC8C2+69'},
   'rating': 4.4,
   'reference': 'ChIJ3fNF9YYoQg0RfXCB9HwjgNE',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2102,
   'vicinity': 'Plaza de Pedro Zerolo, 12, Madrid'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.4181038, 'lng': -3.7043429},
    'viewport': {'northeast': {'lat': 40.4197579302915,
      'lng': -3.702737219708498},
     'southwest': {'lat': 40.4170599697085, 'lng': -3.705435180291502}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Petit Palace Preciados',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3858,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108730032018318408916">Petit Palace Preciados</a>'],
     'photo_reference': 'ATtYBwLFjJyCOf8f7-ecbtNDbURgEIKEl997kFRs4x15E9ARgg8NGXj2bl6-XCEtG1HLkavykwh-SxK4n8XdXw9FDTDs9bCYkw1qqZFB3WPe7eo5RE6spzqLLWN6iVuDxDWtFOCcqqQ3T82T8-_OFgHLis_qKFREbVebmozTLr_a8MX0hcYZ',
     'width': 5779}],
   'place_id': 'ChIJ_2Iz3H0oQg0RCovvEPhsQvQ',
   'plus_code': {'compound_code': 'C79W+67 Madrid, Spain',
    'global_code': '8CGRC79W+67'},
   'rating': 4.2,
   'reference': 'ChIJ_2Iz3H0oQg0RCovvEPhsQvQ',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 820,
   'vicinity': 'Calle de Galdo, 2, Madrid'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.4186021, 'lng': -3.710921599999999},
    'viewport': {'northeast': {'lat': 40.4199949302915,
      'lng': -3.709297069708497},
     'southwest': {'lat': 40.4172969697085, 'lng': -3.711995030291502}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png',
   'name': 'Taberna del Alabardero de Madrid',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 3520,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109339238963686048017">Taberna del Alabardero de Madrid</a>'],
     'photo_reference': 'ATtYBwIGPb1smxKjPJ7wfI7ARI8OqoubwUjJqufwsEh9IFAO_52dTjnd4ixoXBhZNeh6ijVkCEfQegHu-GJbENAFnzdOHL_efWi2TJbduaR0j6xNv2s9xlNzUiUj1SYt0HQPR-jpMGSoECtsL0epiPxSmbXlVOwHb4L-fe13Dj8CY-FaEN_j',
     'width': 3572}],
   'place_id': 'ChIJq7CeMXooQg0R_hpsTD6w1BQ',
   'plus_code': {'compound_code': 'C79Q+CJ Madrid, Spain',
    'global_code': '8CGRC79Q+CJ'},
   'price_level': 2,
   'rating': 4.2,
   'reference': 'ChIJq7CeMXooQg0R_hpsTD6w1BQ',
   'scope': 'GOOGLE',
   'types': ['bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 821,
   'vicinity': 'Calle de Felipe V, 6, Madrid'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.41970349999999, 'lng': -3.7096772},
    'viewport': {'northeast': {'lat': 40.42102453029149,
      'lng': -3.708237019708498},
     'southwest': {'lat': 40.41832656970849, 'lng': -3.710934980291502}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hotel GRAN MELIA PALACIO LOS DUQUES',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1968,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115729704678949234658">Gran Meliá Palacio de los Duques</a>'],
     'photo_reference': 'ATtYBwLVVnAAqVAts3neb5CLPtfgyWJWe07zZQxBSSKrBPrUAXlPxlwNTlqpI1ukMFSeSjieEqLNfQu8PQ3RPhP0TxuYB3fYi7Y618-NetSV7H01TPfDpzIvsGQYyY-eMLwagdYALUDEun-HNe475u_7Ca6wVRYZEP7m5Iq2zJ4EFoia6y_n',
     'width': 2953}],
   'place_id': 'ChIJYZY0u3soQg0RxvxnGKfm25c',
   'plus_code': {'compound_code': 'C79R+V4 Madrid, Spain',
    'global_code': '8CGRC79R+V4'},
   'rating': 4.6,
   'reference': 'ChIJYZY0u3soQg0RxvxnGKfm25c',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1372,
   'vicinity': 'Cuesta de Santo Domingo, 5, Madrid'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.4188575, 'lng': -3.7065207},
    'viewport': {'northeast': {'lat': 40.4198983302915,
      'lng': -3.705383819708498},
     'southwest': {'lat': 40.4172003697085, 'lng': -3.708081780291502}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hotel Intur Palacio San Martín',
   'photos': [{'height': 974,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107325447909214636732">Hotel Intur Palacio San Martín</a>'],
     'photo_reference': 'ATtYBwLYpX_1NTBG5llyAzCtYaVbokwQfMRXQNki8Hl69KwIdRBiY7olChISvS9YCClMXCznxalZaAI1JijzFrYu79sZpb2bQW-6ud6WSY2ol8vbGXKT80x9Zc_HRFeg-4YKnlxHhUU0Wt8IMKjWE0oCbHnCMuSx78doVNc6whNErQsGqq5B',
     'width': 1600}],
   'place_id': 'ChIJTVtcF3woQg0REKDT5Fvhaf0',
   'plus_code': {'compound_code': 'C79V+G9 Madrid, Spain',
    'global_code': '8CGRC79V+G9'},
   'rating': 4.4,
   'reference': 'ChIJTVtcF3woQg0REKDT5Fvhaf0',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 729,
   'vicinity': 'Plaza de San Martín, 5, Madrid'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.4190311, 'lng': -3.7030024},
    'viewport': {'northeast': {'lat': 40.4201394302915,
      'lng': -3.701822769708498},
     'southwest': {'lat': 40.4174414697085, 'lng': -3.704520730291502}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Petit Palace Plaza del Carmen',
   'photos': [{'height': 3953,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104421045327395169341">Petit Palace Plaza del Carmen</a>'],
     'photo_reference': 'ATtYBwKUSdZQdxY90w27qf1gZiNDulL_NpNLdh9cIWQFuP5jXGWsL7mx5enAwFb6PXDWBM6BHaf5Ystj-kL-5wptvpFBiVZ5qIk-9xRfjJvNKq0ygkNO1jlVhUdTFyZMYb9RdfQj7Cp2cIcKhSfEtz0oKGSB28DMCjvuj_9JYgu9ug6nx9H1',
     'width': 5929}],
   'place_id': 'ChIJVX4Q730oQg0RHzFwXdn7w3k',
   'plus_code': {'compound_code': 'C79W+JQ Madrid, Spain',
    'global_code': '8CGRC79W+JQ'},
   'rating': 4.4,
   'reference': 'ChIJVX4Q730oQg0RHzFwXdn7w3k',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 611,
   'vicinity': 'Plaza del Carmen, 4, Madrid'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.41838449999999, 'lng': -3.7012749},
    'viewport': {'northeast': {'lat': 40.4197066302915,
      'lng': -3.699919369708498},
     'southwest': {'lat': 40.4170086697085, 'lng': -3.702617330291502}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Eurostars Casa de la Lírica',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 600,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116498822663984415034">Eurostars Casa de la Lírica</a>'],
     'photo_reference': 'ATtYBwKeEhWiltuoqTlhEh1QryVixLHrQEmTmIbLGV2Dy0QXh2TCyje-KikCFB6AItZMg0k3FB60UnNh6CqTL1fijqmegjTxxXnp59aNzn5NuwrAPxehe5ghSEbG6SycaBojSfd1QnOP0XgJheMFtls442u-8Dqwg-FeCLlyT50-DPrK6kk',
     'width': 800}],
   'place_id': 'ChIJMfGnNocoQg0RuhD75ZcW4nU',
   'plus_code': {'compound_code': 'C79X+9F Madrid, Spain',
    'global_code': '8CGRC79X+9F'},
   'rating': 4.3,
   'reference': 'ChIJMfGnNocoQg0RuhD75ZcW4nU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 778,
   'vicinity': 'Calle de la Aduana, 19, Madrid'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.4173102, 'lng': -3.706465599999999},
    'viewport': {'northeast': {'lat': 40.4186169802915,
      'lng': -3.704879519708498},
     'southwest': {'lat': 40.4159190197085, 'lng': -3.707577480291502}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Petit Palace Arenal',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1068,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113397819451430185055">Petit Palace Arenal</a>'],
     'photo_reference': 'ATtYBwKhvBZe8EAS39g_RPGWxkcno2jzi04s_Az2MWK0fiiBy0RKLh_Lx8FiOZXYeFJxcwalHhHOwobiktpdAYejSR6MJ-pQpGwudb5iGmckVkVMLJOxC9b1Wpj6Uxm-c1VUALajQIqw6-NxqXlAVEu03HOoR5Uxv4KRpcHWWcdYxXpGYrfb',
     'width': 1600}],
   'place_id': 'ChIJUXy-Zn4oQg0RNzcUEuqH-6o',
   'plus_code': {'compound_code': 'C78V+WC Madrid, Spain',
    'global_code': '8CGRC78V+WC'},
   'rating': 4.3,
   'reference': 'ChIJUXy-Zn4oQg0RNzcUEuqH-6o',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 987,
   'vicinity': 'Calle del Arenal, 16, Madrid'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.4114685, 'lng': -3.7040782},
    'viewport': {'northeast': {'lat': 40.4128336802915,
      'lng': -3.702686769708498},
     'southwest': {'lat': 40.4101357197085, 'lng': -3.705384730291502}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Las Musas Hostel Madrid',
   'photos': [{'height': 6656,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115710456107774693604">Las Musas Hostel Madrid</a>'],
     'photo_reference': 'ATtYBwJ7ckVeJr0AuMSVajlg-xvWfWXJc9iJh7oNiXQQa0FQ27MdPCsap4b5kuJtAyFvS6nFkv-KDFnFMVgAv9ZuFy0t8PCNvFkVbEWYgAgRxtCxu9nWll77N00jCo-1Fz7mNsSc9H7dynIDOAZ5dxNSZ8BqLYmUwkavm-8w5MhPFNu0plpc',
     'width': 13312}],
   'place_id': 'ChIJzzwPP9UnQg0RTAYq5GtWExA',
   'plus_code': {'compound_code': 'C76W+H9 Madrid, Spain',
    'global_code': '8CGRC76W+H9'},
   'rating': 4.2,
   'reference': 'ChIJzzwPP9UnQg0RTAYq5GtWExA',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 920,
   'vicinity': 'Calle de Jesús y María, 12, Madrid'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 40.414586, 'lng': -3.705546},
    'viewport': {'northeast': {'lat': 40.4160246802915,
      'lng': -3.704149469708498},
     'southwest': {'lat': 40.4133267197085, 'lng': -3.706847430291503}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'B&B Hotel Madrid Centro Plaza Mayor',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 720,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111961308496921664308">B&amp;B Hotel Madrid Centro Plaza Mayor</a>'],
     'photo_reference': 'ATtYBwIJxGTDI7ngHEEUbwxm8Mnu0-8l9JLYuFszaAudcQO3vq_2VAQPBF4sds1fWDLo0AYSW1Vqu3hx5q0E1PlzC1eCcrtXR7QssqlgJlf1-odrxVXeMSEy4duBBVzSBJ3-GP8ACQryciqG6_OqdmhYFYj5bN526_IH4yVQavwmY-lEfeJ9',
     'width': 720}],
   'place_id': 'ChIJ_zNq3X4oQg0Rv-YnDM8k4Xo',
   'plus_code': {'compound_code': 'C77V+RQ Madrid, Spain',
    'global_code': '8CGRC77V+RQ'},
   'rating': 4.1,
   'reference': 'ChIJ_zNq3X4oQg0Rv-YnDM8k4Xo',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 437,
   'vicinity': 'Calle de Atocha, 2, Madrid'},
  {'business_status': 'OPERATIONAL',

In [131]:
load_dotenv()

True

In [12]:
tokf1 = os.getenv("tokf1")
tokf2 = os.getenv("tokf2")
tokf3 = os.getenv ("tokf3")

In [134]:
print (tokf3)

KAOV2DGRYBHLVV2IQ3ODKOQEPKAMGXADQI2H3VCFV4HZELDW

In [13]:
import foursquare

In [14]:
client = foursquare.Foursquare( access_token= tokf3 )

In [213]:
madrid=(ciudades.coords2[1])

In [177]:
madrid.values()

AttributeError: 'dict_values' object has no attribute 'values'

In [32]:
hotelesmadrid=client.venues.search(params={'query': 'hotel', 'll': "40.4167754, -3.7037902", "radius": 2000, "limit": 50})

In [ ]:
def pasando_a_string (item):
        string_= str (item)
        recortando= string_[13:34]
        return recortando

In [26]:
ciudades.coords2 = ciudades.coords2.apply (pasando_a_string)

In [33]:
lista=hotelesmadrid["venues"]

In [293]:
hoteles(ciudades, "coords2")

,id,ciudad,Viajeros,Lon,Lat,coords,coords2,nhoteles,listahoteles
1,1,MADRID,9.963.195,-3.703790,40.416775,"{'lat': 40.4167754, 'lng': -3.7037902}","40.4167754, -3.703790",50,"{'name': 'Senator Gran Via 70 Spa Hotel 4*', '..."
2,2,BARCELONA,8.520.415,2.173404,41.385064,"{'lat': 41.3850639, 'lng': 2.1734035}","41.3850639, 2.1734035",50,"{'name': 'Hotel Medinaceli', 'latitud': 41.378..."
3,3,SEVILLA,2.811.351,-5.984459,37.389092,"{'lat': 37.3890924, 'lng': -5.9844589}","37.3890924, -5.984458",50,"{'name': 'Hotel Palacio Villapanes', 'latitud'..."
4,4,PALMA DE MALLORCA,2.372.933,2.650160,39.569600,"{'lat': 39.5696005, 'lng': 2.6501603}","39.5696005, 2.6501603",50,"{'name': 'Café Gran Hotel', 'latitud': 39.5725..."
5,5,BENIDORM,2.150.417,-0.122494,38.541057,"{'lat': 38.5410566, 'lng': -0.1224937}","38.5410566, -0.122493",50,"{'name': 'Hotel Agir Kamer 211', 'latitud': 38..."
6,6,GRANADA,2.001.464,-3.598557,37.177336,"{'lat': 37.1773363, 'lng': -3.5985571}","37.1773363, -3.598557",50,"{'name': 'Hotel Palacio De Mariana Pineda', 'l..."
7,7,VALENCIA,1.882.918,-0.376288,39.469907,"{'lat': 39.4699075, 'lng': -0.3762881}","39.4699075, -0.376288",50,"{'name': 'Hotel SH Inglès', 'latitud': 39.4729..."
8,8,SAN BARTOLOMÉ DE TIRAJANA,1.577.975,-15.573030,27.924946,"{'lat': 27.9249459, 'lng': -15.5730295}","27.9249459, -15.57302",2,"{'name': 'Mirador Hotel Las Tirajanas', 'latit..."
9,9,CALVIÀ,1.540.863,2.503368,39.565348,"{'lat': 39.5653483, 'lng': 2.5033683}","39.5653483, 2.5033683",1,"{'name': 'Finca Can Carro', 'latitud': 39.5563..."
10,10,ADEJE,1.476.042,-16.733821,28.122060,"{'lat': 28.1220604, 'lng': -16.7338211}","28.1220604, -16.73382",8,"{'name': 'Pool @ Hotel Suite Villa Maria', 'la..."
11,11,MÁLAGA,1.413.227,-4.421265,36.721261,"{'lat': 36.721261, 'lng': -4.4212655}","36.721261, -4.4212655",50,"{'name': 'Restaurant nh Hotel', 'latitud': 36...."
12,12,SALOU,1.273.471,1.131593,41.077747,"{'lat': 41.0777465, 'lng': 1.1315926}","41.0777465, 1.1315926",50,"{'name': 'Best Hotel San Francisco', 'latitud'..."
13,13,LLORET DE MAR,1.212.564,2.839819,41.700599,"{'lat': 41.7005989, 'lng': 2.8398194}","41.7005989, 2.8398194",50,"{'name': 'Hotel Gran Garbi kamer 353', 'latitu..."
14,14,ZARAGOZA,1.176.981,-0.889085,41.648823,"{'lat': 41.6488226, 'lng': -0.8890853}","41.6488226, -0.889085",50,"{'name': 'hotel trip zaragoza', 'latitud': 41...."
15,15,TORREMOLINOS,1.028.077,-4.499477,36.622554,"{'lat': 36.6225541, 'lng': -4.4994767}","36.6225541, -4.499476",50,"{'name': 'Hotel Natursun', 'latitud': 36.61670..."
16,16,CÓRDOBA,970.985,-4.779383,37.888175,"{'lat': 37.8881751, 'lng': -4.7793835}","37.8881751, -4.779383",50,"{'name': 'Hotel El Balcón de Córdoba', 'latitu..."
17,17,BILBAO,962.974,-2.934985,43.263013,"{'lat': 43.2630126, 'lng': -2.9349852}","43.2630126, -2.934985",50,"{'name': 'Gran Hotel Domine Bilbao', 'latitud'..."
18,18,PÁJARA,893.219,-14.108119,28.350890,"{'lat': 28.3508903, 'lng': -14.1081189}","28.3508903, -14.10811",0,{}
19,19,ALICANTE,879.435,-0.490685,38.345996,"{'lat': 38.3459963, 'lng': -0.4906855}","38.3459963, -0.490685",41,"{'name': 'Tryp Ciudad de Alicante', 'latitud':..."
20,20,ARONA,813.814,-16.664501,28.048600,"{'lat': 28.0486003, 'lng': -16.6645007}","28.0486003, -16.66450",1,{'name': 'Casas Rurales Herrenas Hotel Santa C...
21,21,SANTIAGO DE COMPOSTELA,790.238,-8.544844,42.878213,"{'lat': 42.8782132, 'lng': -8.5448445}","42.8782132, -8.544844",50,"{'name': 'Hotel San Carlos', 'latitud': 42.872..."
22,22,MARBELLA,761.460,-4.882447,36.510071,"{'lat': 36.510071, 'lng': -4.8824474}","36.510071, -4.8824474",39,{'name': 'VIME Hotels & Resorts headquarter of...
23,23,SALAMANCA,711.736,-5.663540,40.970104,"{'lat': 40.9701039, 'lng': -5.663539699999999}","40.9701039, -5.663539",50,"{'name': 'Gran Hotel Corona Sol', 'latitud': 4..."
24,24,DONOSTIA,689.595,-1.981231,43.318334,"{'lat': 43.318334, 'lng': -1.9812313}","43.318334, -1.9812313",50,"{'name': 'Barceló Costa Vasca', 'latitud': 43...."
25,25,PUERTO DE LA CRUZ,654.901,-16.544961,28.411413,"{'lat': 28.411413, 'lng': -16.5449611}","28.411413, -16.544961",50,"{'name': 'Hotel Trianflor', 'latitud': 28.4148..."

In [31]:
restaurantesmadrid=client.venues.search(params={'query': 'Restaurante', 'll': madrid, "radius": 2000, "limit": 50})

NameError: name 'madrid' is not defined

In [396]:
lista=restaurantesmadrid["venues"]

In [422]:
lista[31]["categories"][0]["id"]

'4bf58dd8d48988d150941735'

In [437]:
lala=[]
for i in range (30):
    lala.append (lista [i]["categories"][0]["id"])

IndexError: list index out of range

In [401]:
for i in range (len(lista)-48):
    print (i)

0
1

In [53]:
def rellenando_datasetfsq (df, columna, query, rango, nueva, nueva2):
    """
    blablabla
    """
    cantidad = []
    sublista = []
    
    for ciudad in df[columna] :
        
        request = client.venues.search(params = {'query': query , 'll': ciudad, "radius": rango, "limit": 50})
        lista = request["venues"]
        cantidad.append (len (lista))
        
        dic = {}
        for i in range ( len (lista)-1) :
            
            dic["name"] = lista[i]["name"]
            dic["latitud"] = lista[i]["location"]["lat"]
            dic["longitud"] = lista[i]["location"]["lng"]
            
        sublista.append (dic)
        
    df[nueva]=cantidad
    df[nueva2] = sublista
    return df

In [379]:
len (lista) -1

8

In [54]:
rellenando_datasetfsq (ciudades, "coords2", ["Restaurante", "Restaurant"], 2000, "nrestaurantes", "lrestaurantes")

,id,ciudad,Viajeros,Lon,Lat,coords,coords2,nrestaurantes,lrestaurantes
1,1,MADRID,9.963.195,-3.703790,40.416775,"{'lat': 40.4167754, 'lng': -3.7037902}","40.4167754, -3.703790",50,"{'name': 'Restaurante Pozo Real', 'latitud': 4..."
2,2,BARCELONA,8.520.415,2.173404,41.385064,"{'lat': 41.3850639, 'lng': 2.1734035}","41.3850639, 2.1734035",50,"{'name': 'Restaurante Chino Internacional', 'l..."
3,3,SEVILLA,2.811.351,-5.984459,37.389092,"{'lat': 37.3890924, 'lng': -5.9844589}","37.3890924, -5.984458",50,"{'name': 'Restaurante Trashumante', 'latitud':..."
4,4,PALMA DE MALLORCA,2.372.933,2.650160,39.569600,"{'lat': 39.5696005, 'lng': 2.6501603}","39.5696005, 2.6501603",50,"{'name': 'Restaurante Ca'n Julià', 'latitud': ..."
5,5,BENIDORM,2.150.417,-0.122494,38.541057,"{'lat': 38.5410566, 'lng': -0.1224937}","38.5410566, -0.122493",50,"{'name': 'Restaurante Hotel Brisa', 'latitud':..."
6,6,GRANADA,2.001.464,-3.598557,37.177336,"{'lat': 37.1773363, 'lng': -3.5985571}","37.1773363, -3.598557",50,{'name': 'Restaurante Asador El Rincón de San ...
7,7,VALENCIA,1.882.918,-0.376288,39.469907,"{'lat': 39.4699075, 'lng': -0.3762881}","39.4699075, -0.376288",50,"{'name': 'Restaurante Premium Apartaments', 'l..."
8,8,SAN BARTOLOMÉ DE TIRAJANA,1.577.975,-15.573030,27.924946,"{'lat': 27.9249459, 'lng': -15.5730295}","27.9249459, -15.57302",3,"{'name': 'Restaurante La Cueva', 'latitud': 27..."
9,9,CALVIÀ,1.540.863,2.503368,39.565348,"{'lat': 39.5653483, 'lng': 2.5033683}","39.5653483, 2.5033683",2,{'name': 'Restaurante Café Ajuntament de Calvi...
10,10,ADEJE,1.476.042,-16.733821,28.122060,"{'lat': 28.1220604, 'lng': -16.7338211}","28.1220604, -16.73382",19,"{'name': 'Restaurant', 'latitud': 28.125280380..."
11,11,MÁLAGA,1.413.227,-4.421265,36.721261,"{'lat': 36.721261, 'lng': -4.4212655}","36.721261, -4.4212655",50,"{'name': 'Restaurante chino Fu Man Chu', 'lati..."
12,12,SALOU,1.273.471,1.131593,41.077747,"{'lat': 41.0777465, 'lng': 1.1315926}","41.0777465, 1.1315926",50,"{'name': 'Restaurant Dorada', 'latitud': 41.07..."
13,13,LLORET DE MAR,1.212.564,2.839819,41.700599,"{'lat': 41.7005989, 'lng': 2.8398194}","41.7005989, 2.8398194",50,"{'name': 'Restaurant Pizzeria Milano', 'latitu..."
14,14,ZARAGOZA,1.176.981,-0.889085,41.648823,"{'lat': 41.6488226, 'lng': -0.8890853}","41.6488226, -0.889085",50,"{'name': 'Restaurante Rogelios', 'latitud': 41..."
15,15,TORREMOLINOS,1.028.077,-4.499477,36.622554,"{'lat': 36.6225541, 'lng': -4.4994767}","36.6225541, -4.499476",50,"{'name': 'Restaurante Los Bandoleros', 'latitu..."
16,16,CÓRDOBA,970.985,-4.779383,37.888175,"{'lat': 37.8881751, 'lng': -4.7793835}","37.8881751, -4.779383",50,"{'name': 'Restaurante Indio', 'latitud': 37.90..."
17,17,BILBAO,962.974,-2.934985,43.263013,"{'lat': 43.2630126, 'lng': -2.9349852}","43.2630126, -2.934985",50,"{'name': 'Restaurante serantes III', 'latitud'..."
18,18,PÁJARA,893.219,-14.108119,28.350890,"{'lat': 28.3508903, 'lng': -14.1081189}","28.3508903, -14.10811",1,{}
19,19,ALICANTE,879.435,-0.490685,38.345996,"{'lat': 38.3459963, 'lng': -0.4906855}","38.3459963, -0.490685",50,"{'name': 'Restaurante La Sastrería', 'latitud'..."
20,20,ARONA,813.814,-16.664501,28.048600,"{'lat': 28.0486003, 'lng': -16.6645007}","28.0486003, -16.66450",3,"{'name': 'Restaurante Capricho', 'latitud': 28..."
21,21,SANTIAGO DE COMPOSTELA,790.238,-8.544844,42.878213,"{'lat': 42.8782132, 'lng': -8.5448445}","42.8782132, -8.544844",50,"{'name': 'Acdc Restaurant', 'latitud': 42.8781..."
22,22,MARBELLA,761.460,-4.882447,36.510071,"{'lat': 36.510071, 'lng': -4.8824474}","36.510071, -4.8824474",50,"{'name': 'Restaurante Libanés Karim', 'latitud..."
23,23,SALAMANCA,711.736,-5.663540,40.970104,"{'lat': 40.9701039, 'lng': -5.663539699999999}","40.9701039, -5.663539",50,"{'name': 'Café & Restaurante Rúa Mayor', 'lati..."
24,24,DONOSTIA,689.595,-1.981231,43.318334,"{'lat': 43.318334, 'lng': -1.9812313}","43.318334, -1.9812313",50,"{'name': 'Restaurant Itxaropena', 'latitud': 4..."
25,25,PUERTO DE LA CRUZ,654.901,-16.544961,28.411413,"{'lat': 28.411413, 'lng': -16.5449611}","28.411413, -16.544961",50,"{'name': 'Restaurante El Duende', 'latitud': 2..."

In [342]:
rellenando_dataset (ciudades, "coords2", "4bf58dd8d48988d1e2941735", 3000, "nplayas", "lplayas")

,id,ciudad,Viajeros,Lon,Lat,coords,coords2,nhoteles,listahoteles,nrestaurantes,lrestaurantes,nplayas,lplayas
1,1,MADRID,9.963.195,-3.703790,40.416775,"{'lat': 40.4167754, 'lng': -3.7037902}","40.4167754, -3.703790",50,"{'name': 'Senator Gran Via 70 Spa Hotel 4*', '...",12,"{'name': 'Restaurante Siam', 'latitud': 40.424...",0,{}
2,2,BARCELONA,8.520.415,2.173404,41.385064,"{'lat': 41.3850639, 'lng': 2.1734035}","41.3850639, 2.1734035",50,"{'name': 'Hotel Medinaceli', 'latitud': 41.378...",4,"{'name': 'Restaurante Sailor', 'latitud': 41.3...",0,{}
3,3,SEVILLA,2.811.351,-5.984459,37.389092,"{'lat': 37.3890924, 'lng': -5.9844589}","37.3890924, -5.984458",50,"{'name': 'Hotel Palacio Villapanes', 'latitud'...",5,"{'name': 'Restaurante San Marcos', 'latitud': ...",0,{}
4,4,PALMA DE MALLORCA,2.372.933,2.650160,39.569600,"{'lat': 39.5696005, 'lng': 2.6501603}","39.5696005, 2.6501603",50,"{'name': 'Café Gran Hotel', 'latitud': 39.5725...",9,"{'name': 'Es Baluard Restaurant & Lounge', 'la...",0,{}
5,5,BENIDORM,2.150.417,-0.122494,38.541057,"{'lat': 38.5410566, 'lng': -0.1224937}","38.5410566, -0.122493",50,"{'name': 'Hotel Agir Kamer 211', 'latitud': 38...",3,"{'name': 'Restaurant espejos', 'latitud': 38.5...",0,{}
6,6,GRANADA,2.001.464,-3.598557,37.177336,"{'lat': 37.1773363, 'lng': -3.5985571}","37.1773363, -3.598557",50,"{'name': 'Hotel Palacio De Mariana Pineda', 'l...",8,"{'name': 'Fluxus Restaurante Sonoro', 'latitud...",0,{}
7,7,VALENCIA,1.882.918,-0.376288,39.469907,"{'lat': 39.4699075, 'lng': -0.3762881}","39.4699075, -0.376288",50,"{'name': 'Hotel SH Inglès', 'latitud': 39.4729...",9,{'name': 'Cervecería Restaurante Sierra Aitana...,0,{}
8,8,SAN BARTOLOMÉ DE TIRAJANA,1.577.975,-15.573030,27.924946,"{'lat': 27.9249459, 'lng': -15.5730295}","27.9249459, -15.57302",2,"{'name': 'Mirador Hotel Las Tirajanas', 'latit...",0,{},0,{}
9,9,CALVIÀ,1.540.863,2.503368,39.565348,"{'lat': 39.5653483, 'lng': 2.5033683}","39.5653483, 2.5033683",1,"{'name': 'Finca Can Carro', 'latitud': 39.5563...",0,{},0,{}
10,10,ADEJE,1.476.042,-16.733821,28.122060,"{'lat': 28.1220604, 'lng': -16.7338211}","28.1220604, -16.73382",8,"{'name': 'Pool @ Hotel Suite Villa Maria', 'la...",0,{},0,{}
11,11,MÁLAGA,1.413.227,-4.421265,36.721261,"{'lat': 36.721261, 'lng': -4.4212655}","36.721261, -4.4212655",50,"{'name': 'Restaurant nh Hotel', 'latitud': 36....",6,"{'name': 'Restaurante Strachan', 'latitud': 36...",0,{}
12,12,SALOU,1.273.471,1.131593,41.077747,"{'lat': 41.0777465, 'lng': 1.1315926}","41.0777465, 1.1315926",50,"{'name': 'Best Hotel San Francisco', 'latitud'...",1,{},0,{}
13,13,LLORET DE MAR,1.212.564,2.839819,41.700599,"{'lat': 41.7005989, 'lng': 2.8398194}","41.7005989, 2.8398194",50,"{'name': 'Hotel Gran Garbi kamer 353', 'latitu...",0,{},0,{}
14,14,ZARAGOZA,1.176.981,-0.889085,41.648823,"{'lat': 41.6488226, 'lng': -0.8890853}","41.6488226, -0.889085",50,"{'name': 'hotel trip zaragoza', 'latitud': 41....",1,{},0,{}
15,15,TORREMOLINOS,1.028.077,-4.499477,36.622554,"{'lat': 36.6225541, 'lng': -4.4994767}","36.6225541, -4.499476",50,"{'name': 'Hotel Natursun', 'latitud': 36.61670...",3,"{'name': 'Restaurante Singapur', 'latitud': 36...",0,{}
16,16,CÓRDOBA,970.985,-4.779383,37.888175,"{'lat': 37.8881751, 'lng': -4.7793835}","37.8881751, -4.779383",50,"{'name': 'Hotel El Balcón de Córdoba', 'latitu...",1,{},0,{}
17,17,BILBAO,962.974,-2.934985,43.263013,"{'lat': 43.2630126, 'lng': -2.9349852}","43.2630126, -2.934985",50,"{'name': 'Gran Hotel Domine Bilbao', 'latitud'...",4,"{'name': 'Restaurante Sua', 'latitud': 43.2637...",0,{}
18,18,PÁJARA,893.219,-14.108119,28.350890,"{'lat': 28.3508903, 'lng': -14.1081189}","28.3508903, -14.10811",0,{},0,{},0,{}
19,19,ALICANTE,879.435,-0.490685,38.345996,"{'lat': 38.3459963, 'lng': -0.4906855}","38.3459963, -0.490685",41,"{'name': 'Tryp Ciudad de Alicante', 'latitud':...",5,"{'name': 'Restaurante Santi', 'latitud': 38.34...",0,{}
20,20,ARONA,813.814,-16.664501,28.048600,"{'lat': 28.0486003, 'lng': -16.6645007}","28.0486003, -16.66450",1,{'name': 'Casas Rurales Herrenas Hotel Santa C...,0,{},0,{}
21,21,SANTIAGO DE COMPOSTELA,790.238,-8.544844,42.878213,"{'lat': 42.8782132, 'lng': -8.5448445}","42.8782132, -8.544844",50,"{'name': 'Hotel San Carlos', 'latitud': 42.872...",5,"{'name': 'Restaurante San Jaime', 'latitud': 4...",0,{}
22,22,MARBELLA,761.460,-4.882447,36.510071,"{'lat': 36.510071, 'lng': -4.8824474}","36.510071, -4.8824474",39,{'name': 'VIME Hotels & Resorts headquarter of...,1,{},0,{}
23,23,SALAMANCA,711.736,-5.663540,40.970104,"{'lat': 40.9701039, 'lng': -5.663539699999999}","40.9701039, -5.663539",50,"{'name': 'Gran Hotel Corona Sol', 'latitud': 4...",5,"{'name': 'Restaurante Salam', 'latitud': 40.96...",0,{}
24,24,DONOSTIA,689.595,-1.981231,43.318334,"{'lat': 43.318334, 'lng': -1.9812313}","43.318334, -1.9812313",50,"{'name': 'Barceló Costa Vasca', 'latitud': 43....",4,"{'name': 'Restaurante Sidrería San Bartolomé',...",0,{}
25,25,PUERTO DE LA CRUZ,654.901,-16.544961,28.411413,"{'lat': 28.411413, 'lng': -16.5449611}","28.411413, -16.544961",50,"{'name': 'Hotel Trianflor', 'latitud': 28.4148...",2,"{'name': 'Restaurante Soul Cooking', 'latitud'...",0,{}

In [345]:
ciudades.drop (["nplayas", "lplayas"], axis=1, inplace=True) # estas las busco en gplaces

In [367]:
ciudades.drop (["nrestaurantes","lrestaurantes"], axis=1, inplace=True)

In [366]:
rellenando_dataset (ciudades, "coords2", ["Pub", "Disco", "Cocktail"], 2000, "npubs", "lpubs")

,id,ciudad,Viajeros,Lon,Lat,coords,coords2,nhoteles,listahoteles,nrestaurantes,lrestaurantes,npubs,lpubs
1,1,MADRID,9.963.195,-3.703790,40.416775,"{'lat': 40.4167754, 'lng': -3.7037902}","40.4167754, -3.703790",50,"{'name': 'Senator Gran Via 70 Spa Hotel 4*', '...",12,"{'name': 'Restaurante Siam', 'latitud': 40.424...",4,"{'name': 'Destellos Pub Disco', 'latitud': 40...."
2,2,BARCELONA,8.520.415,2.173404,41.385064,"{'lat': 41.3850639, 'lng': 2.1734035}","41.3850639, 2.1734035",50,"{'name': 'Hotel Medinaceli', 'latitud': 41.378...",4,"{'name': 'Restaurante Sailor', 'latitud': 41.3...",0,{}
3,3,SEVILLA,2.811.351,-5.984459,37.389092,"{'lat': 37.3890924, 'lng': -5.9844589}","37.3890924, -5.984458",50,"{'name': 'Hotel Palacio Villapanes', 'latitud'...",5,"{'name': 'Restaurante San Marcos', 'latitud': ...",0,{}
4,4,PALMA DE MALLORCA,2.372.933,2.650160,39.569600,"{'lat': 39.5696005, 'lng': 2.6501603}","39.5696005, 2.6501603",50,"{'name': 'Café Gran Hotel', 'latitud': 39.5725...",9,"{'name': 'Es Baluard Restaurant & Lounge', 'la...",0,{}
5,5,BENIDORM,2.150.417,-0.122494,38.541057,"{'lat': 38.5410566, 'lng': -0.1224937}","38.5410566, -0.122493",50,"{'name': 'Hotel Agir Kamer 211', 'latitud': 38...",3,"{'name': 'Restaurant espejos', 'latitud': 38.5...",3,"{'name': 'La Posada Disco Pub', 'latitud': 38...."
6,6,GRANADA,2.001.464,-3.598557,37.177336,"{'lat': 37.1773363, 'lng': -3.5985571}","37.1773363, -3.598557",50,"{'name': 'Hotel Palacio De Mariana Pineda', 'l...",8,"{'name': 'Fluxus Restaurante Sonoro', 'latitud...",0,{}
7,7,VALENCIA,1.882.918,-0.376288,39.469907,"{'lat': 39.4699075, 'lng': -0.3762881}","39.4699075, -0.376288",50,"{'name': 'Hotel SH Inglès', 'latitud': 39.4729...",9,{'name': 'Cervecería Restaurante Sierra Aitana...,1,{}
8,8,SAN BARTOLOMÉ DE TIRAJANA,1.577.975,-15.573030,27.924946,"{'lat': 27.9249459, 'lng': -15.5730295}","27.9249459, -15.57302",2,"{'name': 'Mirador Hotel Las Tirajanas', 'latit...",0,{},0,{}
9,9,CALVIÀ,1.540.863,2.503368,39.565348,"{'lat': 39.5653483, 'lng': 2.5033683}","39.5653483, 2.5033683",1,"{'name': 'Finca Can Carro', 'latitud': 39.5563...",0,{},0,{}
10,10,ADEJE,1.476.042,-16.733821,28.122060,"{'lat': 28.1220604, 'lng': -16.7338211}","28.1220604, -16.73382",8,"{'name': 'Pool @ Hotel Suite Villa Maria', 'la...",0,{},0,{}
11,11,MÁLAGA,1.413.227,-4.421265,36.721261,"{'lat': 36.721261, 'lng': -4.4212655}","36.721261, -4.4212655",50,"{'name': 'Restaurant nh Hotel', 'latitud': 36....",6,"{'name': 'Restaurante Strachan', 'latitud': 36...",0,{}
12,12,SALOU,1.273.471,1.131593,41.077747,"{'lat': 41.0777465, 'lng': 1.1315926}","41.0777465, 1.1315926",50,"{'name': 'Best Hotel San Francisco', 'latitud'...",1,{},0,{}
13,13,LLORET DE MAR,1.212.564,2.839819,41.700599,"{'lat': 41.7005989, 'lng': 2.8398194}","41.7005989, 2.8398194",50,"{'name': 'Hotel Gran Garbi kamer 353', 'latitu...",0,{},0,{}
14,14,ZARAGOZA,1.176.981,-0.889085,41.648823,"{'lat': 41.6488226, 'lng': -0.8890853}","41.6488226, -0.889085",50,"{'name': 'hotel trip zaragoza', 'latitud': 41....",1,{},1,{}
15,15,TORREMOLINOS,1.028.077,-4.499477,36.622554,"{'lat': 36.6225541, 'lng': -4.4994767}","36.6225541, -4.499476",50,"{'name': 'Hotel Natursun', 'latitud': 36.61670...",3,"{'name': 'Restaurante Singapur', 'latitud': 36...",0,{}
16,16,CÓRDOBA,970.985,-4.779383,37.888175,"{'lat': 37.8881751, 'lng': -4.7793835}","37.8881751, -4.779383",50,"{'name': 'Hotel El Balcón de Córdoba', 'latitu...",1,{},0,{}
17,17,BILBAO,962.974,-2.934985,43.263013,"{'lat': 43.2630126, 'lng': -2.9349852}","43.2630126, -2.934985",50,"{'name': 'Gran Hotel Domine Bilbao', 'latitud'...",4,"{'name': 'Restaurante Sua', 'latitud': 43.2637...",0,{}
18,18,PÁJARA,893.219,-14.108119,28.350890,"{'lat': 28.3508903, 'lng': -14.1081189}","28.3508903, -14.10811",0,{},0,{},0,{}
19,19,ALICANTE,879.435,-0.490685,38.345996,"{'lat': 38.3459963, 'lng': -0.4906855}","38.3459963, -0.490685",41,"{'name': 'Tryp Ciudad de Alicante', 'latitud':...",5,"{'name': 'Restaurante Santi', 'latitud': 38.34...",2,"{'name': 'M1 Disco Pub', 'latitud': 38.3414710..."
20,20,ARONA,813.814,-16.664501,28.048600,"{'lat': 28.0486003, 'lng': -16.6645007}","28.0486003, -16.66450",1,{'name': 'Casas Rurales Herrenas Hotel Santa C...,0,{},0,{}
21,21,SANTIAGO DE COMPOSTELA,790.238,-8.544844,42.878213,"{'lat': 42.8782132, 'lng': -8.5448445}","42.8782132, -8.544844",50,"{'name': 'Hotel San Carlos', 'latitud': 42.872...",5,"{'name': 'Restaurante San Jaime', 'latitud': 4...",0,{}
22,22,MARBELLA,761.460,-4.882447,36.510071,"{'lat': 36.510071, 'lng': -4.8824474}","36.510071, -4.8824474",39,{'name': 'VIME Hotels & Resorts headquarter of...,1,{},0,{}
23,23,SALAMANCA,711.736,-5.663540,40.970104,"{'lat': 40.9701039, 'lng': -5.663539699999999}","40.9701039, -5.663539",50,"{'name': 'Gran Hotel Corona Sol', 'latitud': 4...",5,"{'name': 'Restaurante Salam', 'latitud': 40.96...",0,{}
24,24,DONOSTIA,689.595,-1.981231,43.318334,"{'lat': 43.318334, 'lng': -1.9812313}","43.318334, -1.9812313",50,"{'name': 'Barceló Costa Vasca', 'latitud': 43....",4,"{'name': 'Restaurante Sidrería San Bartolomé',...",0,{}
25,25,PUERTO DE LA CRUZ,654.901,-16.544961,28.411413,"{'lat': 28.411413, 'lng': -16.5449611}","28.411413, -16.544961",50,"{'name': 'Hotel Trianflor', 'latitud': 28.4148...",2,"{'name': 'Restaurante Soul Cooking', 'latitud'...",0,{}

In [364]:
playasmadrid=client.venues.search(params={'query': ["playa"], 'll': madrid, "radius": 2000, "limit": 50})

In [365]:
playasmadrid

{'venues': [{'id': '4c8094fff9b79c742b720d45',
   'name': 'Cava Baja 5 (La Playa)',
   'location': {'address': 'Cava Baja, 5',
    'lat': 40.413359511996894,
    'lng': -3.708349914681621,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.413359511996894,
      'lng': -3.708349914681621}],
    'distance': 542,
    'postalCode': '28005',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Cava Baja, 5', '28005 Madrid Madrid']},
   'categories': [{'id': '4bf58dd8d48988d11e941735',
     'name': 'Cocktail Bar',
     'pluralName': 'Cocktail Bars',
     'shortName': 'Cocktail',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/cocktails_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4e45a73eb61c03d0cd015a44',
   'name': 'La Playa de Lavapies',
   'location': {'address': 'Argumosa 9',
    'lat': 40.40827840078169,
    'lng': -3.6994783687656776,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.40827840078169,
      'lng': -3.6994783687656776}],
    'distance': 1014,
    'postalCode': '28000',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Argumosa 9', '28000 Madrid Madrid']},
   'categories': [{'id': '4bf58dd8d48988d116941735',
     'name': 'Bar',
     'pluralName': 'Bars',
     'shortName': 'Bar',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4e0da2c58877936cb3fd14f7',
   'name': 'Hostal Playa',
   'location': {'address': 'Calle de la Victoria',
    'lat': 40.41654974284867,
    'lng': -3.705246487972882,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.41654974284867,
      'lng': -3.705246487972882}],
    'distance': 125,
    'postalCode': '28012',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Calle de la Victoria', '28012 Madrid Madrid']},
   'categories': [{'id': '4bf58dd8d48988d1fa931735',
     'name': 'Hotel',
     'pluralName': 'Hotels',
     'shortName': 'Hotel',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4c5c34ae7735c9b6cf8e8b72',
   'name': 'Playa De Riazor',
   'location': {'address': 'Calle Toledo, 19',
    'crossStreet': 'Calle Imperial',
    'lat': 40.4144,
    'lng': -3.70736882,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.4144,
      'lng': -3.70736882}],
    'distance': 402,
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Calle Toledo, 19 (Calle Imperial)',
     'Madrid Madrid']},
   'categories': [{'id': '4bf58dd8d48988d150941735',
     'name': 'Spanish Restaurant',
     'pluralName': 'Spanish Restaurants',
     'shortName': 'Spanish',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/spanish_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4e29cc2114955dbf7ac8576a',
   'name': 'Madrid Río Café Playa',
   'location': {'address': 'P. de Yeserías, 41',
    'lat': 40.396583348492435,
    'lng': -3.7084095973240285,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.396583348492435,
      'lng': -3.7084095973240285}],
    'distance': 2281,
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['P. de Yeserías, 41', 'Madrid Madrid']},
   'categories': [{'id': '4bf58dd8d48988d117941735',
     'name': 'Beer Garden',
     'pluralName': 'Beer Gardens',
     'shortName': 'Beer Garden',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/beergarden_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4bae04d4f964a520887b3be3',
   'name': 'Playa Victoria, polideportivo',
   'location': {'address': 'Calle Hierbabuena 1',
    'lat': 40.45872570909415,
    'lng': -3.70212965303562,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.45872570909415,
      'lng': -3.70212965303562}],
    'distance': 4671,
    'cc': 'ES',
    'country': 'España',
    'formattedAddress': ['Calle Hierbabuena 1']},
   'categories': [{'id': '4bf58dd8d48988d175941735',
     'name': 'Gym / Fitness Center',
     'pluralName': 'Gyms or Fitness Centers',
     'shortName': 'Gym / Fitness',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/gym_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4dbd7ec643a1d8504ba67100',
   'name': 'Playa de Madrid',
   'location': {'address': 'Madrid Río (Sector Central)',
    'lat': 40.396767715577425,
    'lng': -3.712832816743494,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.396767715577425,
      'lng': -3.712832816743494}],
    'distance': 2355,
    'postalCode': '28005',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Madrid Río (Sector Central)',
     '28005 Madrid Madrid']},
   'categories': [{'id': '4bf58dd8d48988d1e2941735',
     'name': 'Beach',
     'pluralName': 'Beaches',
     'shortName': 'Beach',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/beach_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4fd3afb3e4b0bd432896927f',
   'name': 'Aquí sí hay playa',
   'location': {'address': 'bonetillo 14',
    'lat': 40.4169776790747,
    'lng': -3.7091861643897763,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.4169776790747,
      'lng': -3.7091861643897763}],
    'distance': 457,
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['bonetillo 14', 'Madrid Madrid']},
   'categories': [{'id': '4bf58dd8d48988d11b941735',
     'name': 'Pub',
     'pluralName': 'Pubs',
     'shortName': 'Pub',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4c5d5b4a2815c9284380b467',
   'name': 'Complejo Deportivo Playa de Madrid',
   'location': {'address': 'Ctra. de El Pardo, km 1,700',
    'lat': 40.47381994078173,
    'lng': -3.753376007080078,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.47381994078173,
      'lng': -3.753376007080078}],
    'distance': 7613,
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Ctra. de El Pardo, km 1,700', 'Madrid Madrid']},
   'categories': [{'id': '4f4528bc4b90abdf24c9de85',
     'name': 'Athletics & Sports',
     'pluralName': 'Athletics & Sports',
     'shortName': 'Athletics & Sports',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/sports_outdoors_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '56152bf1498e8173053befbb',
   'name': 'La playa del barrio Salamanca',
   'location': {'address': 'Calle Serrano, 52',
    'lat': 40.427381545283914,
    'lng': -3.687372207641601,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.427381545283914,
      'lng': -3.687372207641601}],
    'distance': 1824,
    'postalCode': '28006',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Calle Serrano, 52', '28006 Madrid Madrid']},
   'categories': [],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '512cc210e4b0e8e05cc0f972',
   'name': 'Pasarela de la Playa',
   'location': {'address': 'Madrid Río',
    'lat': 40.3964163892841,
    'lng': -3.708878908164452,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.3964163892841,
      'lng': -3.708878908164452}],
    'distance': 2307,
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Madrid Río', 'Madrid Madrid']},
   'categories': [{'id': '4bf58dd8d48988d1df941735',
     'name': 'Bridge',
     'pluralName': 'Bridges',
     'shortName': 'Bridge',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/bridge_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '51e98344498e4ea73c231868',
   'name': 'Playa De San Miguel',
   'location': {'lat': 40.446861,
    'lng': -3.692858,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.446861,
      'lng': -3.692858}],
    'distance': 3474,
    'cc': 'ES',
    'country': 'España'},
   'categories': [{'id': '4bf58dd8d48988d116941735',
     'name': 'Bar',
     'pluralName': 'Bars',
     'shortName': 'Bar',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4baa7afbf964a520c66d3ae3',
   'name': 'Restaurante La Playa',
   'location': {'lat': 40.434116700382894,
    'lng': -3.705677607435815,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.434116700382894,
      'lng': -3.705677607435815}],
    'distance': 1937,
    'cc': 'ES',
    'country': 'España'},
   'categories': [{'id': '4bf58dd8d48988d150941735',
     'name': 'Spanish Restaurant',
     'pluralName': 'Spanish Restaurants',
     'shortName': 'Spanish',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/spanish_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4fd384cbe4b0aa9a72470371',
   'name': 'Playa de Moratalaz',
   'location': {'lat': 40.41071806560452,
    'lng': -3.6352606568961265,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.41071806560452,
      'lng': -3.6352606568961265}],
    'distance': 5847,
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Madrid Madrid']},
   'categories': [{'id': '4bf58dd8d48988d15e941735',
     'name': 'Pool',
     'pluralName': 'Pools',
     'shortName': 'Pool',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/pool_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '517c3db6e4b036137a530e4c',
   'name': 'la playa',
   'location': {'lat': 40.400724071482216,
    'lng': -3.6588359289499377,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.400724071482216,
      'lng': -3.6588359289499377}],
    'distance': 4208,
    'cc': 'ES',
    'country': 'España'},
   'categories': [{'id': '4bf58dd8d48988d1db931735',
     'name': 'Tapas Restaurant',
     'pluralName': 'Tapas Restaurants',
     'shortName': 'Tapas',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/tapas_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '562b446a498e29c742960970',
   'name': 'Playa FunBar!',
   'location': {'lat': 40.502435,
    'lng': -3.710253,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.502435,
      'lng': -3.710253}],
    'distance': 9551,
    'cc': 'ES',
    'country': 'España'},
   'categories': [{'id': '52e81612bcbc57f1066b7a30',
     'name': 'Nudist Beach',
     'pluralName': 'Nudist Beaches',
     'shortName': 'Nudist Beach',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/beach_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4eeca9322c5bafa6180db8e2',
   'name': 'Bar La Playa',
   'location': {'lat': 40.43748474121094,
    'lng': -3.648961305618286,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.43748474121094,
      'lng': -3.648961305618286}],
    'distance': 5186,
    'cc': 'ES',
    'country': 'España'},
   'categories': [{'id': '50327c8591d4c4b30a586d5d',
     'name': 'Brewery',
     'pluralName': 'Breweries',
     'shortName': 'Brewery',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/brewery_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4eccbfed0e01bd353a7ed439',
   'name': 'Paf - Play Among Friends',
   'location': {'lat': 40.422453193231604,
    'lng': -3.6832642647839333,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.422453193231604,
      'lng': -3.6832642647839333}],
    'distance': 1850,
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Madrid Madrid']},
   'categories': [{'id': '4bf58dd8d48988d124941735',
     'name': 'Office',
     'pluralName': 'Offices',
     'shortName': 'Office',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/default_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '52305b60498ef8e5cd6df9cf',
   'name': 'Plata De Ley',
   'location': {'address': 'Nuestra Señora De Fátima  14',
    'lat': 40.385667,
    'lng': -3.744634,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.385667,
      'lng': -3.744634}],
    'distance': 4896,
    'cc': 'ES',
    'country': 'España',
    'formattedAddress': ['Nuestra Señora De Fátima  14']},
   'categories': [{'id': '4bf58dd8d48988d111951735',
     'name': 'Jewelry Store',
     'pluralName': 'Jewelry Stores',
     'shortName': 'Jewelry',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/jewelry_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '5290a6c211d20afeb882cc5d',
   'name': 'Bar Roca La Playa',
   'location': {'lat': 40.48058672429135,
    'lng': -3.722895653077211,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.48058672429135,
      'lng': -3.722895653077211}],
    'distance': 7285,
    'cc': 'ES',
    'country': 'España'},
   'categories': [{'id': '4bf58dd8d48988d1e0931735',
     'name': 'Coffee Shop',
     'pluralName': 'Coffee Shops',
     'shortName': 'Coffee Shop',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4e063013b61c60b0453d255e',
   'name': 'Restaurante Roca La Playa',
   'location': {'address': 'Av. Cardenal Herrera Oria, 260',
    'lat': 40.480288684258,
    'lng': -3.722672583992786,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.480288684258,
      'lng': -3.722672583992786}],
    'distance': 7248,
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Av. Cardenal Herrera Oria, 260', 'Madrid Madrid']},
   'categories': [{'id': '4bf58dd8d48988d1c4941735',
     'name': 'Restaurant',
     'pluralName': 'Restaurants',
     'shortName': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '5914160be2ead12a20de45b5',
   'name': 'Playa De La Zurriola',
   'location': {'lat': 40.5428838,
    'lng': -3.6239227,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.5428838,
      'lng': -3.6239227}],
    'distance': 15582,
    'cc': 'ES',
    'city': 'San Sebastián, Spain',
    'country': 'España',
    'formattedAddress': ['San Sebastián, Spain']},
   'categories': [{'id': '4bf58dd8d48988d1e5931735',
     'name': 'Music Venue',
     'pluralName': 'Music Venues',
     'shortName': 'Music Venue',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/musicvenue_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4affe63ef964a520423a22e3',
   'name': 'Gymboree Play & Music',
   'location': {'address': 'Av de Alberto Alcocer, 29',
    'lat': 40.4587369433156,
    'lng': -3.6835713654815425,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.4587369433156,
      'lng': -3.6835713654815425}],
    'distance': 4975,
    'postalCode': '28036',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Av de Alberto Alcocer, 29', '28036 Madrid Madrid']},
   'categories': [{'id': '4bf58dd8d48988d1f1931735',
     'name': 'General Entertainment',
     'pluralName': 'General Entertainment',
     'shortName': 'Entertainment',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/default_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4edf4e27722e992a3df08713',
   'name': 'Metro Atocha Renfe',
   'location': {'address': 'Gta. del Emperador Carlos V',
    'crossStreet': 'Av. Ciudad de Barcelona',
    'lat': 40.40695083625721,
    'lng': -3.6893874677871485,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.40695083625721,
      'lng': -3.6893874677871485}],
    'distance': 1639,
    'postalCode': '28012',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['Gta. del Emperador Carlos V (Av. Ciudad de Barcelona)',
     '28012 Madrid Madrid']},
   'categories': [{'id': '4bf58dd8d48988d1fd931735',
     'name': 'Metro Station',
     'pluralName': 'Metro Stations',
     'shortName': 'Metro',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/subway_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '4ff58542e4b042cc2999ae09',
   'name': 'Piscina Playa Zarauz',
   'location': {'lat': 40.4732040375667,
    'lng': -3.5903432933602737,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.4732040375667,
      'lng': -3.5903432933602737}],
    'distance': 11481,
    'cc': 'ES',
    'country': 'España'},
   'categories': [{'id': '4bf58dd8d48988d15e941735',
     'name': 'Pool',
     'pluralName': 'Pools',
     'shortName': 'Pool',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/pool_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '5da97f65d78d21000883c915',
   'name': 'Escuela Infantil El Jardín de Larin Playa de Aro',
   'location': {'address': 'playa de aro 22',
    'crossStreet': 'alcañiz',
    'lat': 40.47251409546244,
    'lng': -3.5896164178848267,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.47251409546244,
      'lng': -3.5896164178848267}],
    'distance': 11491,
    'postalCode': '28042',
    'cc': 'ES',
    'city': 'Madrid',
    'state': 'Madrid',
    'country': 'España',
    'formattedAddress': ['playa de aro 22 (alcañiz)', '28042 Madrid Madrid']},
   'categories': [{'id': '52e81612bcbc57f1066b7a45',
     'name': 'Preschool',
     'pluralName': 'Preschools',
     'shortName': 'Preschool',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/school_',
      'suffix': '.png'},
     'primary': True}],
   'referralId': 'v-1620964715',
   'hasPerk': False},
  {'id': '5fa3f28dc8c9031254c61b0b',
   'name': 'Telelavo, lavandería artesanal Barajas - Calle Playa de San Juan, 38',
   'location': {'address': 'Calle Playa de San Juan, 38',
    'lat': 40.4739877,
    'lng': -3.5879606,
    'labeledLatLngs': [{'label': 'display',
      'lat': 40.4739877,
      'lng': -3.5879606}],
    'distance': 11698,
    'postalCode': '28042',
    'cc': 'ES',
    'city': 'Madrid',

In [344]:
ciudades

,id,ciudad,Viajeros,Lon,Lat,coords,coords2,nhoteles,listahoteles,nrestaurantes,lrestaurantes,nplayas,lplayas
1,1,MADRID,9.963.195,-3.703790,40.416775,"{'lat': 40.4167754, 'lng': -3.7037902}","40.4167754, -3.703790",50,"{'name': 'Senator Gran Via 70 Spa Hotel 4*', '...",12,"{'name': 'Restaurante Siam', 'latitud': 40.424...",0,{}
2,2,BARCELONA,8.520.415,2.173404,41.385064,"{'lat': 41.3850639, 'lng': 2.1734035}","41.3850639, 2.1734035",50,"{'name': 'Hotel Medinaceli', 'latitud': 41.378...",4,"{'name': 'Restaurante Sailor', 'latitud': 41.3...",0,{}
3,3,SEVILLA,2.811.351,-5.984459,37.389092,"{'lat': 37.3890924, 'lng': -5.9844589}","37.3890924, -5.984458",50,"{'name': 'Hotel Palacio Villapanes', 'latitud'...",5,"{'name': 'Restaurante San Marcos', 'latitud': ...",0,{}
4,4,PALMA DE MALLORCA,2.372.933,2.650160,39.569600,"{'lat': 39.5696005, 'lng': 2.6501603}","39.5696005, 2.6501603",50,"{'name': 'Café Gran Hotel', 'latitud': 39.5725...",9,"{'name': 'Es Baluard Restaurant & Lounge', 'la...",0,{}
5,5,BENIDORM,2.150.417,-0.122494,38.541057,"{'lat': 38.5410566, 'lng': -0.1224937}","38.5410566, -0.122493",50,"{'name': 'Hotel Agir Kamer 211', 'latitud': 38...",3,"{'name': 'Restaurant espejos', 'latitud': 38.5...",0,{}
6,6,GRANADA,2.001.464,-3.598557,37.177336,"{'lat': 37.1773363, 'lng': -3.5985571}","37.1773363, -3.598557",50,"{'name': 'Hotel Palacio De Mariana Pineda', 'l...",8,"{'name': 'Fluxus Restaurante Sonoro', 'latitud...",0,{}
7,7,VALENCIA,1.882.918,-0.376288,39.469907,"{'lat': 39.4699075, 'lng': -0.3762881}","39.4699075, -0.376288",50,"{'name': 'Hotel SH Inglès', 'latitud': 39.4729...",9,{'name': 'Cervecería Restaurante Sierra Aitana...,0,{}
8,8,SAN BARTOLOMÉ DE TIRAJANA,1.577.975,-15.573030,27.924946,"{'lat': 27.9249459, 'lng': -15.5730295}","27.9249459, -15.57302",2,"{'name': 'Mirador Hotel Las Tirajanas', 'latit...",0,{},0,{}
9,9,CALVIÀ,1.540.863,2.503368,39.565348,"{'lat': 39.5653483, 'lng': 2.5033683}","39.5653483, 2.5033683",1,"{'name': 'Finca Can Carro', 'latitud': 39.5563...",0,{},0,{}
10,10,ADEJE,1.476.042,-16.733821,28.122060,"{'lat': 28.1220604, 'lng': -16.7338211}","28.1220604, -16.73382",8,"{'name': 'Pool @ Hotel Suite Villa Maria', 'la...",0,{},0,{}
11,11,MÁLAGA,1.413.227,-4.421265,36.721261,"{'lat': 36.721261, 'lng': -4.4212655}","36.721261, -4.4212655",50,"{'name': 'Restaurant nh Hotel', 'latitud': 36....",6,"{'name': 'Restaurante Strachan', 'latitud': 36...",0,{}
12,12,SALOU,1.273.471,1.131593,41.077747,"{'lat': 41.0777465, 'lng': 1.1315926}","41.0777465, 1.1315926",50,"{'name': 'Best Hotel San Francisco', 'latitud'...",1,{},0,{}
13,13,LLORET DE MAR,1.212.564,2.839819,41.700599,"{'lat': 41.7005989, 'lng': 2.8398194}","41.7005989, 2.8398194",50,"{'name': 'Hotel Gran Garbi kamer 353', 'latitu...",0,{},0,{}
14,14,ZARAGOZA,1.176.981,-0.889085,41.648823,"{'lat': 41.6488226, 'lng': -0.8890853}","41.6488226, -0.889085",50,"{'name': 'hotel trip zaragoza', 'latitud': 41....",1,{},0,{}
15,15,TORREMOLINOS,1.028.077,-4.499477,36.622554,"{'lat': 36.6225541, 'lng': -4.4994767}","36.6225541, -4.499476",50,"{'name': 'Hotel Natursun', 'latitud': 36.61670...",3,"{'name': 'Restaurante Singapur', 'latitud': 36...",0,{}
16,16,CÓRDOBA,970.985,-4.779383,37.888175,"{'lat': 37.8881751, 'lng': -4.7793835}","37.8881751, -4.779383",50,"{'name': 'Hotel El Balcón de Córdoba', 'latitu...",1,{},0,{}
17,17,BILBAO,962.974,-2.934985,43.263013,"{'lat': 43.2630126, 'lng': -2.9349852}","43.2630126, -2.934985",50,"{'name': 'Gran Hotel Domine Bilbao', 'latitud'...",4,"{'name': 'Restaurante Sua', 'latitud': 43.2637...",0,{}
18,18,PÁJARA,893.219,-14.108119,28.350890,"{'lat': 28.3508903, 'lng': -14.1081189}","28.3508903, -14.10811",0,{},0,{},0,{}
19,19,ALICANTE,879.435,-0.490685,38.345996,"{'lat': 38.3459963, 'lng': -0.4906855}","38.3459963, -0.490685",41,"{'name': 'Tryp Ciudad de Alicante', 'latitud':...",5,"{'name': 'Restaurante Santi', 'latitud': 38.34...",0,{}
20,20,ARONA,813.814,-16.664501,28.048600,"{'lat': 28.0486003, 'lng': -16.6645007}","28.0486003, -16.66450",1,{'name': 'Casas Rurales Herrenas Hotel Santa C...,0,{},0,{}
21,21,SANTIAGO DE COMPOSTELA,790.238,-8.544844,42.878213,"{'lat': 42.8782132, 'lng': -8.5448445}","42.8782132, -8.544844",50,"{'name': 'Hotel San Carlos', 'latitud': 42.872...",5,"{'name': 'Restaurante San Jaime', 'latitud': 4...",0,{}
22,22,MARBELLA,761.460,-4.882447,36.510071,"{'lat': 36.510071, 'lng': -4.8824474}","36.510071, -4.8824474",39,{'name': 'VIME Hotels & Resorts headquarter of...,1,{},0,{}
23,23,SALAMANCA,711.736,-5.663540,40.970104,"{'lat': 40.9701039, 'lng': -5.663539699999999}","40.9701039, -5.663539",50,"{'name': 'Gran Hotel Corona Sol', 'latitud': 4...",5,"{'name': 'Restaurante Salam', 'latitud': 40.96...",0,{}
24,24,DONOSTIA,689.595,-1.981231,43.318334,"{'lat': 43.318334, 'lng': -1.9812313}","43.318334, -1.9812313",50,"{'name': 'Barceló Costa Vasca', 'latitud': 43....",4,"{'name': 'Restaurante Sidrería San Bartolomé',...",0,{}
25,25,PUERTO DE LA CRUZ,654.901,-16.544961,28.411413,"{'lat': 28.411413, 'lng': -16.5449611}","28.411413, -16.544961",50,"{'name': 'Hotel Trianflor', 'latitud': 28.4148...",2,"{'name': 'Restaurante Soul Cooking', 'latitud'...",0,{}

In [424]:
ciudades

,id,ciudad,Viajeros,Lon,Lat,coords,coords2,nhoteles,listahoteles,npubs,lpubs
1,1,MADRID,9.963.195,-3.703790,40.416775,"{'lat': 40.4167754, 'lng': -3.7037902}","40.4167754, -3.703790",50,"{'name': 'Senator Gran Via 70 Spa Hotel 4*', '...",4,"{'name': 'Destellos Pub Disco', 'latitud': 40...."
2,2,BARCELONA,8.520.415,2.173404,41.385064,"{'lat': 41.3850639, 'lng': 2.1734035}","41.3850639, 2.1734035",50,"{'name': 'Hotel Medinaceli', 'latitud': 41.378...",0,{}
3,3,SEVILLA,2.811.351,-5.984459,37.389092,"{'lat': 37.3890924, 'lng': -5.9844589}","37.3890924, -5.984458",50,"{'name': 'Hotel Palacio Villapanes', 'latitud'...",0,{}
4,4,PALMA DE MALLORCA,2.372.933,2.650160,39.569600,"{'lat': 39.5696005, 'lng': 2.6501603}","39.5696005, 2.6501603",50,"{'name': 'Café Gran Hotel', 'latitud': 39.5725...",0,{}
5,5,BENIDORM,2.150.417,-0.122494,38.541057,"{'lat': 38.5410566, 'lng': -0.1224937}","38.5410566, -0.122493",50,"{'name': 'Hotel Agir Kamer 211', 'latitud': 38...",3,"{'name': 'La Posada Disco Pub', 'latitud': 38...."
6,6,GRANADA,2.001.464,-3.598557,37.177336,"{'lat': 37.1773363, 'lng': -3.5985571}","37.1773363, -3.598557",50,"{'name': 'Hotel Palacio De Mariana Pineda', 'l...",0,{}
7,7,VALENCIA,1.882.918,-0.376288,39.469907,"{'lat': 39.4699075, 'lng': -0.3762881}","39.4699075, -0.376288",50,"{'name': 'Hotel SH Inglès', 'latitud': 39.4729...",1,{}
8,8,SAN BARTOLOMÉ DE TIRAJANA,1.577.975,-15.573030,27.924946,"{'lat': 27.9249459, 'lng': -15.5730295}","27.9249459, -15.57302",2,"{'name': 'Mirador Hotel Las Tirajanas', 'latit...",0,{}
9,9,CALVIÀ,1.540.863,2.503368,39.565348,"{'lat': 39.5653483, 'lng': 2.5033683}","39.5653483, 2.5033683",1,"{'name': 'Finca Can Carro', 'latitud': 39.5563...",0,{}
10,10,ADEJE,1.476.042,-16.733821,28.122060,"{'lat': 28.1220604, 'lng': -16.7338211}","28.1220604, -16.73382",8,"{'name': 'Pool @ Hotel Suite Villa Maria', 'la...",0,{}
11,11,MÁLAGA,1.413.227,-4.421265,36.721261,"{'lat': 36.721261, 'lng': -4.4212655}","36.721261, -4.4212655",50,"{'name': 'Restaurant nh Hotel', 'latitud': 36....",0,{}
12,12,SALOU,1.273.471,1.131593,41.077747,"{'lat': 41.0777465, 'lng': 1.1315926}","41.0777465, 1.1315926",50,"{'name': 'Best Hotel San Francisco', 'latitud'...",0,{}
13,13,LLORET DE MAR,1.212.564,2.839819,41.700599,"{'lat': 41.7005989, 'lng': 2.8398194}","41.7005989, 2.8398194",50,"{'name': 'Hotel Gran Garbi kamer 353', 'latitu...",0,{}
14,14,ZARAGOZA,1.176.981,-0.889085,41.648823,"{'lat': 41.6488226, 'lng': -0.8890853}","41.6488226, -0.889085",50,"{'name': 'hotel trip zaragoza', 'latitud': 41....",1,{}
15,15,TORREMOLINOS,1.028.077,-4.499477,36.622554,"{'lat': 36.6225541, 'lng': -4.4994767}","36.6225541, -4.499476",50,"{'name': 'Hotel Natursun', 'latitud': 36.61670...",0,{}
16,16,CÓRDOBA,970.985,-4.779383,37.888175,"{'lat': 37.8881751, 'lng': -4.7793835}","37.8881751, -4.779383",50,"{'name': 'Hotel El Balcón de Córdoba', 'latitu...",0,{}
17,17,BILBAO,962.974,-2.934985,43.263013,"{'lat': 43.2630126, 'lng': -2.9349852}","43.2630126, -2.934985",50,"{'name': 'Gran Hotel Domine Bilbao', 'latitud'...",0,{}
18,18,PÁJARA,893.219,-14.108119,28.350890,"{'lat': 28.3508903, 'lng': -14.1081189}","28.3508903, -14.10811",0,{},0,{}
19,19,ALICANTE,879.435,-0.490685,38.345996,"{'lat': 38.3459963, 'lng': -0.4906855}","38.3459963, -0.490685",41,"{'name': 'Tryp Ciudad de Alicante', 'latitud':...",2,"{'name': 'M1 Disco Pub', 'latitud': 38.3414710..."
20,20,ARONA,813.814,-16.664501,28.048600,"{'lat': 28.0486003, 'lng': -16.6645007}","28.0486003, -16.66450",1,{'name': 'Casas Rurales Herrenas Hotel Santa C...,0,{}
21,21,SANTIAGO DE COMPOSTELA,790.238,-8.544844,42.878213,"{'lat': 42.8782132, 'lng': -8.5448445}","42.8782132, -8.544844",50,"{'name': 'Hotel San Carlos', 'latitud': 42.872...",0,{}
22,22,MARBELLA,761.460,-4.882447,36.510071,"{'lat': 36.510071, 'lng': -4.8824474}","36.510071, -4.8824474",39,{'name': 'VIME Hotels & Resorts headquarter of...,0,{}
23,23,SALAMANCA,711.736,-5.663540,40.970104,"{'lat': 40.9701039, 'lng': -5.663539699999999}","40.9701039, -5.663539",50,"{'name': 'Gran Hotel Corona Sol', 'latitud': 4...",0,{}
24,24,DONOSTIA,689.595,-1.981231,43.318334,"{'lat': 43.318334, 'lng': -1.9812313}","43.318334, -1.9812313",50,"{'name': 'Barceló Costa Vasca', 'latitud': 43....",0,{}
25,25,PUERTO DE LA CRUZ,654.901,-16.544961,28.411413,"{'lat': 28.411413, 'lng': -16.5449611}","28.411413, -16.544961",50,"{'name': 'Hotel Trianflor', 'latitud': 28.4148...",0,{}