En este jupyter crearé la base de datos de ciudades y cargaré los datos desde aquí.

In [23]:
import pandas as pd
from pymongo import MongoClient
client= MongoClient ("localhost:27017")

In [28]:
db = client.get_database("Ciudades")

In [13]:
colecciones=pd.read_csv ("../Data/nombreciudades.csv", index_col=[0])

In [19]:
colecciones

                       ciudad
1                      MADRID
2                   BARCELONA
3                     SEVILLA
4           PALMA DE MALLORCA
5                    BENIDORM
6                     GRANADA
7                    VALENCIA
8   SAN BARTOLOMÉ DE TIRAJANA
9                      CALVIÀ
10                      ADEJE
11                     MÁLAGA
12                      SALOU
13              LLORET DE MAR
14                   ZARAGOZA
15               TORREMOLINOS
16                    CÓRDOBA
17                     BILBAO
18                     PÁJARA
19                   ALICANTE
20                      ARONA
21     SANTIAGO DE COMPOSTELA
22                   MARBELLA
23                  SALAMANCA
24                   DONOSTIA
25          PUERTO DE LA CRUZ

In [29]:
for i in colecciones.ciudad: #funcion
    db.create_collection(i)